<button
  title="چاپ"
  size="tiny"
  class="mb-2 mr-1"
  nbButton
  status="secondary"
  (click)="onPrint(rData.id)"
>
  <nb-icon
    [options]="{ animation: { type: 'zoom' } }"
    class="icon-button"
    icon="printer-outline"
  >
  </nb-icon>
</button>

<button
  title="حذف"
  size="tiny"
  class="mb-2 mr-1"
  nbButton
  status="danger"
  (click)="onDelete(rData)"
  [disabled]= "rData.setMeeting === true"
  *appHasRole="['Executor','Engineer','Owner','Admin']"
>
  <nb-icon
    [options]="{ animation: { type: 'zoom' } }"
    class="icon-button"
    icon="close-outline"
  >
  </nb-icon>
</button>

<button
  title="ویرایش"
  size="tiny"
  class="mb-2 mr-1"
  nbButton
  status="warning"
  *appHasRole="['Executor','Engineer','Owner','Admin']"
  [disabled]= "rData.setMeeting === true"
  (click)="onEdit(rData.id)"
>
  <nb-icon
    [options]="{ animation: { type: 'zoom' } }"
    class="icon-button"
    icon="edit-2-outline"
  >
  </nb-icon>
</button>

<button
  title="مشاهده جزئیات"
  size="tiny"
  class="mb-2 mr-1"
  nbButton
  status="info"
  *appHasRole="['GasEmployee','Executor','Engineer','Owner','Admin']"
  (click)="onComplaintDetail(rData.id)"
>
  <nb-icon
    [options]="{ animation: { type: 'zoom' } }"
    class="alert-circle-outline"
    icon="eye-outline"
  >
  </nb-icon>
</button>

<nb-select placeholder="انتخاب عملیات"  status="success">

  <nb-option *ngIf="rData.nextStateType.includes('ComplaintCheck')">
      <button
        fullWidth
        nbButton
        status="success"
        *appHasRole="['GasEmployee','Admin']"
        (click)="onComplaintCheck(rData.id)"
      >
          بررسی شکایت
      </button>
    </nb-option>

  <nb-option *ngIf="rData.nextStateType.includes('ComplaintMeetingResult')">
    <button
      fullWidth
      nbButton
      status="success"
      *appHasRole="['GasEmployee','Admin']"
      (click)="onComplaintMeetingResult(rData.id)"
    >
       ثبت نتیجه جلسه
    </button>
  </nb-option>

  <nb-option *ngIf="rData.nextStateType.includes('ComplaintReplySupervision')">
      <button
        fullWidth
        nbButton
        status="success"
        *appHasRole="['GasEmployee','Admin']"
        (click)="onComplaintReplySupervision(rData.id)"
      >
      دریافت جواب از نظارت عالی
      </button>
    </nb-option>

    <nb-option *ngIf="rData.nextStateType.includes('ComplaintFinalCheck')">
        <button
          fullWidth
          nbButton
          status="success"
          *appHasRole="['GasEmployee','Admin']"
          (click)="onComplaintFinalCheck(rData.id)"
        >
        بررسی پرونده و صدور حکم
        </button>
    </nb-option>

</nb-select>

<!--
<div class="scrollbar scrollbar-primary">
    <div class="force-overflow"></div>

</div> -->
<!-- <ng-template #contentDetailTemplate let-data>
  <app-gasRequestDetail [id]="rData.id"></app-gasRequestDetail>
</ng-template> -->
