<!-- <nb-tabset>
  <nb-tab tabTitle="مالک">
    Tab content 1
  </nb-tab>
  <nb-tab tabTitle="ملک">
    Tab content 2
  </nb-tab>
  <nb-tab tabTitle="مستندات">
    Tab content 2
  </nb-tab>
</nb-tabset> -->

<!-- <nb-card>
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" fullWidth>
    <nb-tab tabTitle="مالک">
      Tab content 1
    </nb-tab>
    <nb-tab tabTitle="ملک">
      Tab content 2
    </nb-tab>
    <nb-tab tabTitle="مستندات">
      Tab content 2
    </nb-tab>
  </nb-route-tabset>
  </nb-card-body>
</nb-card> -->


<!-- <nb-card>
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" fullWidth></nb-route-tabset>
  </nb-card-body>
</nb-card> -->

<nb-card>
  <nb-card-header>ویرایش مشخصات پرونده های قدیمی</nb-card-header>
  <nb-card-body>
    <!-- <nb-card >
      
    </nb-card> -->
    <!-- <form (ngSubmit)="submit()" [formGroup]="docForm"> -->
      <div class="row">
        <div class="col-md-12">
         
         
          <nb-card>
            <nb-card-body>
              <div class="row">
                <div class="btn-group col-xs-12 col-lg-6 col-md-6 col-sm-6">
                  <button  nbButton
                    status="success" type="submit" class="btn "
                    style="width: 100%" [nbSpinner]="loading"  (click)="onEditOwner()"  nbSpinnerStatus="info" nbSpinnerSize="large">
                    ویرایش اطلاعات مالک
                  </button>
                  
                </div>
                <div class="btn-group col-xs-12 col-lg-6 col-md-6 col-sm-6">
                  <button  nbButton
                    status="danger" type="submit" class="btn"
                    style="width: 100%" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" (click)="onEditGasRequest(gasreqId, '')">
                    ویرایش اطلاعات ملک
                  </button>
                  
                </div>
                <div class="btn-group col-xs-12 col-lg-6 col-md-6 col-sm-6">
                  <button  nbButton
                    status="warning" type="submit" class="btn"
                    style="width: 100%" [nbSpinner]="loading" nbSpinnerStatus="info" (click)="onUpload(gasreqId,'EditUploadDocuments')"  nbSpinnerSize="large">
                    ویرایش مستندات
                  </button>
                  
                </div>
                <div class="btn-group col-xs-12 col-lg-6 col-md-6 col-sm-6">
                  <button [disabled]="loading"  nbButton status="primary"
                    type="button" class="btn" (click)="onEditMap('EditUnitByExcutor')" style="width: 100%">
                    آپلود نقشه لوله کشی
                  </button>
                </div>
                <div class="btn-group col-xs-12 col-lg-6 col-md-6 col-sm-6">
                  <button  nbButton
                    status="danger" type="submit" class="btn"
                    style="width: 100%" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" (click)="onEditResultInspectionPreExecution()">
                    شرایط نتیجه بازرسی پیش از اجرا
                  </button>
                  
                </div>
                <div class="btn-group col-xs-12 col-lg-6 col-md-6 col-sm-6">
                  <button [disabled]="loading" [routerLink]="['/pages/forms/GasReqList']" nbButton status="info"
                    type="button" class="btn" style="width: 100%">
                    بازگشت به لیست درخواست ها
                  </button>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    <!-- </form> -->
  </nb-card-body>
</nb-card>

