<style>
  td,
  th {
    text-align: center;
  }

  .background {
    height: 50px;
    width: 80%;
  }

  .head {
    border-bottom: 3px solid #1f6a7d9c;
    padding: 15px;
    width: 80%;
    z-index: 99;
    background: white;
    position: -webkit-sticky;
    position: fixed;
    height: 120px;
    transition: 0.3s;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }

  .text {
    text-align: center;
    font-size: 14px;
    color: black;
  }

  .scrolled {
    transition: 0.3s;
    background: #84bcd8f8;
    height: 80px;
    border-bottom: 2px solid #1f6a7de1;
  }

  .text_style {
    font-size: 30px;
    color: white;
  }

  .custom-col-4,
  .custom-col-6 {
    width: 100%;
    display: inline-block;
  }

  @media (min-width: 768px) {
    .custom-col-6 {
      width: 60%;
    }

    .custom-col-4 {
      width: 40%;
      position: sticky;
      top: 0;
    }
  }

  .fixed {
    position: fixed;
    width: 100%;
    transition: 0.2s linear;
    top: 67px;
  }

  .nofixed {
    position: static;
    transition: 0.2s linear;
    top: -50px;
    padding: 25px;
  }


  .hidden {
    opacity: 0;
  }

  .console-container {
    padding: 0;
    text-align: center;
    height: 37px;
    /* width: 1200px; */
    display: block;
    color: white;
    top: 23px;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
  }

  .f-modal-alert .f-modal-icon {
    border-radius: 50%;
    border: 4px solid gray;
    box-sizing: content-box;
    height: 50px;
    margin: -12px -20px auto;
    padding: 0;
    position: absolute;
    width: 50px;
  }

  .f-modal-alert .f-modal-icon.f-modal-warning {
    border-color: #f8bb86;
  }

  .f-modal-alert .f-modal-icon.f-modal-warning:before {
    -webkit-animation: pulseWarning 2s linear infinite;
    animation: pulseWarning 2s linear infinite;
    background-color: #fff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    opacity: 0;
    width: 100%;
    position: relative;
  }

  /* .f-modal-alert .f-modal-icon.f-modal-warning:after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
} */
  .f-modal-alert .f-modal-icon.f-modal-warning .f-modal-body {
    background-color: #f8bb86;
    border-radius: 2px;
    height: 21px;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 10px;
    width: 5px;
    z-index: 2;
  }

  .f-modal-alert .f-modal-icon.f-modal-warning .f-modal-dot {
    background-color: #f8bb86;
    border-radius: 50%;
    bottom: 10px;
    height: 7px;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    width: 7px;
    z-index: 2;
  }

  .f-modal-alert .f-modal-icon+.f-modal-icon {
    margin-top: 50px;
  }


  .animateXLeft {
    -webkit-animation: animateXLeft 0.75s;
    animation: animateXLeft 0.75s;
  }

  .animateXRight {
    -webkit-animation: animateXRight 0.75s;
    animation: animateXRight 0.75s;
  }

  .scaleWarning {
    -webkit-animation: scaleWarning 0.75s infinite alternate;
    animation: scaleWarning 0.75s infinite alternate;
  }

  .pulseWarningIns {
    -webkit-animation: pulseWarningIns 0.75s infinite alternate;
    animation: pulseWarningIns 0.75s infinite alternate;
  }

  @-webkit-keyframes rotatePlaceholder {

    0%,
    5% {
      transform: rotate(-45deg);
    }

    100%,
    12% {
      transform: rotate(-405deg);
    }
  }

  @keyframes rotatePlaceholder {

    0%,
    5% {
      transform: rotate(-45deg);
    }

    100%,
    12% {
      transform: rotate(-405deg);
    }
  }

  @-webkit-keyframes animateXLeft {

    0%,
    65% {
      left: 82px;
      top: 95px;
      width: 0;
    }

    84% {
      left: 14px;
      top: 33px;
      width: 47px;
    }

    100% {
      left: 17px;
      top: 37px;
      width: 47px;
    }
  }

  @keyframes animateXLeft {

    0%,
    65% {
      left: 82px;
      top: 95px;
      width: 0;
    }

    84% {
      left: 14px;
      top: 33px;
      width: 47px;
    }

    100% {
      left: 17px;
      top: 37px;
      width: 47px;
    }
  }

  @-webkit-keyframes animateXRight {

    0%,
    65% {
      right: 82px;
      top: 95px;
      width: 0;
    }

    84% {
      right: 14px;
      top: 33px;
      width: 47px;
    }

    100% {
      right: 16px;
      top: 37px;
      width: 47px;
    }
  }

  @keyframes animateXRight {

    0%,
    65% {
      right: 82px;
      top: 95px;
      width: 0;
    }

    84% {
      right: 14px;
      top: 33px;
      width: 47px;
    }

    100% {
      right: 16px;
      top: 37px;
      width: 47px;
    }
  }

  @-webkit-keyframes scaleWarning {
    0% {
      transform: scale(1);
    }

    30% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes scaleWarning {
    0% {
      transform: scale(1);
    }

    30% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
    }
  }

  @-webkit-keyframes pulseWarning {
    0% {
      background-color: #fff;
      transform: scale(1);
      opacity: 0.5;
    }

    30% {
      background-color: #fff;
      transform: scale(1);
      opacity: 0.5;
    }

    100% {
      background-color: #f8bb86;
      transform: scale(2);
      opacity: 0;
    }
  }

  @keyframes pulseWarning {
    0% {
      background-color: #fff;
      transform: scale(1);
      opacity: 0.5;
    }

    30% {
      background-color: #fff;
      transform: scale(1);
      opacity: 0.5;
    }

    100% {
      background-color: #f8bb86;
      transform: scale(2);
      opacity: 0;
    }
  }

  @-webkit-keyframes pulseWarningIns {
    0% {
      background-color: #f8d486;
    }

    100% {
      background-color: #f8bb86;
    }
  }

  @keyframes pulseWarningIns {
    0% {
      background-color: #f8d486;
    }

    100% {
      background-color: #f8bb86;
    }
  }

  @media screen and (min-width: 601px) {
    .animateText {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 600px) {
    .animateText {
      font-size: 11px;
      line-height: 1em !important;
    }

    .nofixed {
      position: static;
      transition: 0.2s linear;
      padding: 5px;
    }

    .console-container {
      padding: 10px;
      text-align: justify;
      height: 100px;
      display: block;
    }

    .f-modal-alert {
      display: none;
    }
  }

  .animateText {
    line-height: 1.75em;
  }
</style>
<!-- <div class="custom-col-6 sticky" style="height: 50px; background-color: seagreen;">
  Header A
</div>

<div class="background">
  <div class="head">
      <h1 class="text">HEADER</h1>
  </div>
</div> -->
<nb-card id="messageInfo" class="messageInfo" style="box-shadow: 0 0 4px;" *appHasRole="['Engineer']">
  <nb-card-body>
    <div style="background-image: linear-gradient(to right, #598bff, #3366ff);"
      class="nofixed">
      <div class='console-container'>
        <div class="f-modal-alert">
          <div class="f-modal-icon f-modal-warning scaleWarning">
            <span class="f-modal-body pulseWarningIns"></span>
            <span class="f-modal-dot pulseWarningIns"></span>
          </div>
        </div>
        <span id='text' class="animateText"></span>
        <div class='console-underscore' id='console'>&#95;</div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card id="serachCard" style="box-shadow: 0 0 4px;">
  <nb-card-body>
    <!-- <div class="container"> -->
    <form (ngSubmit)="onSerach()" [formGroup]="form">
      <div class="row mb-2">
        <div class="col-sm-3 col-lg-3 col-md-3 mt-2">
          <label>شماره لیست</label>
          <input nbInput type="text" id="fileNumber" formControlName="listFileNumber" />
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 mt-2">
          <label>شماره پرونده</label>
          <input nbInput type="text" id="requestUnitNumber" formControlName="requestUnitNumber" />
        </div>

        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-2">
          <label class="pb-0" for="de">
            از تاریخ:
          </label>

          <dp-date-picker name="de" id="de" nbInput dir="rtl" mode="day" theme="dp-material" formControlName="fromDate"
            [config]="datePickerConfig" (open)="openFromEndDayPicker()" (close)="closeFromEndDayPicker()" nbInput>
          </dp-date-picker>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-2">
          <label class="pb-0" for="fromDateEnd">
            تا تاریخ:
          </label>

          <dp-date-picker name="de" id="de" nbInput dir="rtl" mode="day" theme="dp-material" formControlName="toDate"
            [config]="datePickerConfig" (open)="openFromEndDayPicker()" (close)="closeFromEndDayPicker()" nbInput>
          </dp-date-picker>
        </div>


      </div>
      <div class="row mb-2">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt-2">
          <label>ناحیه گازی</label>
          <nb-select [selected]="filterParams?.selectedArea" #areasSelect placeholder="انتخاب ناحیه" class="col-sm-2"
            id="selectedArea" formControlName="selectedArea">
            <nb-option *ngFor="let area of areas" [value]="area.id">
              {{ area.title }}
            </nb-option>
          </nb-select>
        </div>
        <div *appHasNoRole="['Engineer']" class="col-sm-3 col-lg-3 col-md-3 mt-2">
          <label>نام مهندس</label>
          <input nbInput type="text" id="engineerName" formControlName="engineerName" />
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 mt-2">
          <label>نام مالک</label>
          <input nbInput type="text" id="ownerName" formControlName="ownerName" />
        </div>
        <div *appHasNoRole="['Executor']" class="col-sm-3 col-lg-3 col-md-3 mt-2">
          <label>نام مجری</label>
          <input nbInput type="text" id="executerName" formControlName="executerName" />
        </div>



      </div>
      <div class="row mt-4">
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-2">
          <label class="pb-0" for="de">
            تاریخ بازرسی:
          </label>

          <dp-date-picker name="de" id="inspectionDate" nbInput dir="rtl" mode="day" theme="dp-material"
            formControlName="inspectionDate" [config]="datePickerConfig" (open)="openFromEndDayPicker()"
            (close)="closeFromEndDayPicker()" nbInput>
          </dp-date-picker>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mt-2">
          <label>وضعیت لیست</label>
          <nb-select #isReferdSelect placeholder="انتخاب وضعیت" class="col-sm-2" id="isReferd"
            formControlName="isReferd">
            <nb-option [value]="0">
              ارجاع داده شده
            </nb-option>
            <nb-option [value]="1">
              ارجاع داده نشده
            </nb-option>
            <nb-option [value]="2">
              تفکیک شده
            </nb-option>
            <nb-option [value]="3">
              تفکیک نشده
            </nb-option>
          </nb-select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 mr-3 mt-4">
          <button nbTooltip="جستجو" nbTooltipPlacement="top" nbButton hero size="tiny" status="info" type="submit"
            class="ml-1" style="margin-top: 6px;">
            <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="search-outline">
            </nb-icon>
          </button>

          <button nbTooltip="بازسازی" nbTooltipPlacement="top" size="tiny" nbButton hero status="primary" type="button"
            (click)="resetFilters()" style="margin-top: 6px;">
            <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="refresh-outline">
            </nb-icon>
          </button>
        </div>
      </div>
    </form>
    <br />

    <!-- </div> -->
  </nb-card-body>
</nb-card>

<nb-card class="table-x-mine" style="box-shadow: 0 0 4px;">
  <nb-card-header class="pt-4" style="border-bottom: 0;"><span class="ml-1"> ورودی</span>
    <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="arrow-ios-back-outline">
    </nb-icon>

    <span class="mr-1" style="color: #3366ff;">ارجاعات</span>
    <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="arrow-ios-back-outline">
    </nb-icon>
    <div class="pull-left">
      <button class="btn btn-info ml-2" style="color: #fff;" *appHasRole="['Admin', 'GasEmployee','AnalyzeEmployee']"
        (click)="oncreateAnalyze()">
        <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="home-outline">
        </nb-icon>
        لیست جدید
      </button>
    </div>
    <div class="pull-left">
      <button *appHasRole="['Admin', 'GasEmployee','AnalyzeEmployee']" (click)="analyzeListItemDeletedExcelExport()"
        class="btn btn-info ml-2" style="color: #fff;">
        <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="home-outline">
        </nb-icon>
        خروجی درخواست های حذف شده
      </button>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="table-wrapper">
      <ng2-smart-table [settings]="settings" [source]="source | paginate: pagingConfig" (custom)="onCustom($event)"
        style="direction: ltr;"></ng2-smart-table>
    </div>

    <span *ngFor="let item of collection | paginate: pagingConfig"></span>

    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="input-group">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 form-inline pull-right">
              <label for="pageSize" style="margin-left: 0;">
                رکورد صفحه:
              </label>
              <nb-select status="info" #pageSizeSelect class="pageSizeSelect" [selected]="pagination.itemsPerPage"
                (selectedChange)="changePageSize(pageSizeSelect.selected)" id="pageSize" placeholder="انتخاب ...">
                <nb-option *ngFor="let p of pageSizes" [value]="p.id">
                  {{ p.display }}
                </nb-option>
              </nb-select>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-2 ">
              <div class="d-flex justify-content-center">
                <pagination-controls class="pagination" (pageChange)="pageChanged($event)" previousLabel=""
                  nextLabel="">
                </pagination-controls>
              </div>
            </div>
            <!-- <div
              class="col-lg-2 col-md-2 col-sm-6 col-xs-6 form-inline pull-left"
            >
              <label for="pageSize" style="margin-left: 0.45rem;">
                تعداد رکورد:{{ pagination.totalItems }}
              </label>
            </div> -->
            <div style="padding-right: 7% !important;"
              class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-inline pull-left">
              <label for="pageNumber" style="margin-left: 0.45rem;">
                صفحه:
              </label>
              <input [value]="pagination.currentPage" style="width: 30%;" #pageNumber size="tiny" id="pageNumber"
                nbInput type="number" min="1" max="pagination.totalPages"
                (keydown.enter)="pageChanged(pageNumber.value)" />
              <span> از {{ pagination.totalItems }} نتیجه</span>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card status="danger" accent="danger">
    <nb-card-header>
      <h4 style="color: linen;">هشدار</h4>
    </nb-card-header>
    <nb-card-body>
      <h6>آیا از حذف مورد اطمینان دارید؟</h6>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-sm-6">
          <button fullWidth nbButton hero status="danger" (click)="confirmDelete(data)">
            بلی
          </button>
        </div>
        <div class="col-sm-6">
          <button fullWidth nbButton hero status="primary" (click)="dialogRef.close()">
            انصراف
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #createAnalyzeList let-data>
  <!-- (close)="closeRef()" -->
  <ngx-createAnalyzeList></ngx-createAnalyzeList>
</ng-template>

<ng-template #dialogReject let-data let-ref="dialogRefReject">
  <nb-card status="danger" accent="danger">
    <nb-card-header>
      <h4 style="color: linen;">هشدار</h4>
    </nb-card-header>
    <nb-card-body>
      <h6>آیا از انصراف لیست بازرسی اطمینان دارید؟</h6>
    </nb-card-body>
    <nb-card-footer>
      <form [formGroup]="formRejection">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label for="reason">
              <span class="text-danger font-weight-bold ml-1">*</span>

              توضیحات</label>
            <textarea formControlName="reason" fullWidth id="reason" nbInput placeholder="توضیحات" rows="5"></textarea>

            <div *ngFor="let validation of INPUT_VALIDATION_MESSAGES.reason">
              <span class="text-danger" *ngIf="
                  isSubmittedFormRejection &&
                  formRejection.get('reason').hasError(validation.type) &&
                  (formRejection.get('reason').dirty ||
                    formRejection.get('reason').touched)
                ">{{ validation.message }}</span>
            </div>
          </div>

          <div class="col-sm-6">
            <button [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large"
              [disabled]="loading || !formRejection.valid" type="submit" fullWidth nbButton hero status="danger"
              (click)="confirmReject(data)">
              بلی
            </button>
          </div>
          <div class="col-sm-6">
            <button fullWidth nbButton hero status="primary" (click)="dialogRefReject.close()">
              خیر
            </button>
          </div>
        </div>
      </form>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!--
<ng-template #dialogres let-data let-ref="dialogRes">
  <nb-card status="danger" accent="danger">
    <nb-card-header><h4 style="color: linen">هشدار</h4></nb-card-header>
    <nb-card-body><h6>آیا درخواست مرخصی مورد تایید است؟</h6></nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-sm-6">
          <button
            fullWidth
            nbButton
            hero
            status="danger"
            (click)="ResultConfirm(data, 1)"
          >
            بلی
          </button>
        </div>
        <div class="col-sm-6">
          <button
            fullWidth
            nbButton
            hero
            status="primary"
            (click)="ResultConfirm(data, 0)"
          >
            خیر
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template> -->


<ng-template #listEngineers let-ref="dialogRef" let-data>
  <nb-card status="primary" accent="primary">
    <nb-card-header>
      <h6 class="pull-right text-light" *ngIf="data.cityTitle">
        لیست شماره {{data.analyzeNumber}}- مهندسان در صف ارجاع ( وضعیت: {{data.isLocal === true ? 'بومی': 'غیر بومی'}})
        در {{data.cityTitle}}
      </h6>
      <h6 class="pull-right text-light" *ngIf="!data.cityTitle">
        لیست شماره {{data.analyzeNumber}}- مهندسان در صف ارجاع ( وضعیت: {{data.isLocal === true ? 'بومی': 'غیر بومی'}})
      </h6>
      <span title="بستن" style="position:left;float: left;cursor: pointer" class="pull-left text-light"
        (click)="dialogRef.close()">
        &times;
      </span>
    </nb-card-header>

    <nb-card-body *ngIf="data.reasonForNotFoundEngineer">
      <div class="form-group mt-3 col-lg-12 col-md-12 col-sm-6 col-xs-12">
        <label for="selectedId">
          نوع آنالیز:
        </label>
        <label class="text-info mr-2">اتوماتیک</label>
      </div>
      <p class="lead text-danger">
        {{data.reasonForNotFoundEngineer}}
      </p>
    </nb-card-body>

    <nb-card-body *ngIf="!data.reasonForNotFoundEngineer" style="overflow-y:scroll; max-height: 400px;">
      <div>
        <div class="form-group mt-3 col-lg-12 col-md-12 col-sm-6 col-xs-12">
          <label for="selectedId">
            نوع آنالیز:
          </label>
          <label class="text-info mr-2">اتوماتیک</label>
        </div>

        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>ردیف</th>
              <!-- <th>شماره ( تست)</th> -->
              <th>نام و نام خانوادگی</th>
              <th> کد دفتر گاز</th>
              <th>کد ملی</th>
              <th>شهر محل سکونت</th>
              <th>امتیاز کل</th>
              <th>معیار آنالیز</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let en of data.engineersList; let row = index">
              <td>{{ row + 1 }}</td>
              <!-- <td>{{ en?.engineerId }}</td> -->
              <td>{{ en?.fullName }}</td>
              <td>{{ en?.engineerOrganizationCode }}</td>
              <td>{{ en?.nationalCode }}</td>
              <td>{{ en?.liveTownTitle }}</td>
              <td>{{ roundNumber2Decimal(en?.totalRank)}}</td>
              <!-- <td style="direction: ltr;">{{ paymentService.thousands_separators_realtime(en?.mainFactor) }}</td> -->
              <td style="direction: ltr;"> {{en?.thousandSepratorOfMainFactor }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <!-- <nb-card-footer>
      <button nbButton class="btn pull-left float-left" hero status="primary" (click)="dialogRef.close()">
        بستن
      </button>
    </nb-card-footer> -->
  </nb-card>
</ng-template>

<ng-template #listRefferingHistory let-data let-ref="dialogRefferingHistory">
  <nb-card status="primary" accent="primary">
    <nb-card-header>
      تاریخچه ارجاعات لیست {{data.analyzeNumber}} - ( وضعیت: {{data.isLocal === true ? 'بومی': 'غیر بومی'}})
      <span *ngIf="data.cityTitle"> - {{data.cityTitle}}</span>
      <span title="بستن" style="position:left;float: left;cursor: pointer" class="pull-left text-light"
        (click)="dialogRefferingHistory.close()">
        &times;
      </span>
      <!-- <p class="text-light">
        ( وضعیت: {{data.isLocal === true ? 'بومی': 'غیر بومی'}}) - {{data.areaTitle}}
      </p> -->
    </nb-card-header>

    <nb-card-body *ngIf="!dates">
      <p class="lead text-info">
        تاریخچه ارجاعات برای این لیست ثبت نشده است.
      </p>
    </nb-card-body>

    <nb-card-body *ngIf="dates" style="overflow-y:scroll; max-height: 700px;">
      <div class="row">
        <div class="form-group mt-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <label for="selectedId">
            تاریخ ارجاعات:
          </label>
          <!--  id="selectedId" name="selectedId" [(selected)]= "selectedId" [(ngModel)]="selectedId" -->
          <nb-select #date status="info" [selected]="data.selectedId" placeholder="انتخاب..." size="medium"
            (selectedChange)="onSearch(date.selected)">
            <!-- <nb-option [value]="null">هیچ کدام</nb-option> -->
            <nb-option *ngFor="let p of dates" [value]="p.id">
              {{ p.text }}
            </nb-option>
          </nb-select>
        </div>

        <div *ngIf="!reasonNotFoundEngineer" class="col-sm-3 pr-1 mt-3">
          <label for="requests">
            درخواست ها:
          </label>
          <a id="requests" class="d-inline-block" (click)="toggleRequests()"
            style="cursor: pointer;text-decoration: none;font-size:20px;"
            [nbTooltip]="showRequests === true ? 'پنهان درخواست ها' : 'نمایش درخواست ها'" nbTooltipPlacement="top">
            <nb-icon *ngIf="!showRequests" status="success" [options]="{
                  animation: { type: 'zoom' },
                  width: '20px',
                  height: '20px'
                }" class="icon-button" icon="eye-outline">
            </nb-icon>
            <nb-icon *ngIf="showRequests" status="basic" [options]="{
                  animation: { type: 'zoom' },
                  width: '20px',
                  height: '20px'
                }" class="icon-button" icon="eye-off-2-outline">
            </nb-icon>
            <!-- <span style="position: relative;top:-2px;"></span> -->
          </a>
        </div>

        <div *ngIf="!reasonNotFoundEngineer" class="col-sm-3 mt-3">
          <label for="engineers">
            مهندسان:
          </label>
          <a id="engineers" class="d-inline-block" (click)="toggleEngineers()"
            style="cursor: pointer;text-decoration: none;font-size:20px;"
            [nbTooltip]="showRequests === true ? 'پنهان مهندسان' : 'نمایش مهندسان'" nbTooltipPlacement="top">
            <nb-icon *ngIf="!showEngineers" status="success" [options]="{
              animation: { type: 'zoom' },
              width: '20px',
              height: '20px'
            }" class="icon-button" icon="eye-outline">
            </nb-icon>
            <nb-icon *ngIf="showEngineers" status="basic" [options]="{
                animation: { type: 'zoom' },
                width: '20px',
                height: '20px'
              }" class="icon-button" icon="eye-off-2-outline">
            </nb-icon>
            <!-- <span style="position: relative;top:-2px;"></span> -->
          </a>
        </div>
        <!-- <div class="col-sm-3 pr-1">
          <button (click)="onSearch(date.selected)" nbTooltip="جستجو" nbTooltipPlacement="top" nbButton hero size="tiny"
            status="info" type="button" class="ml-1" style="margin-top:45px">
            <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="search-outline">
            </nb-icon>
          </button>
        </div> -->

        <div class="form-group mt-3 col-lg-12 col-md-12 col-sm-6 col-xs-12" *ngIf="data.analyzeType">
          <label for="selectedId">
            نوع آنالیز:
          </label>
          <label class="text-info mr-2">
            {{data.analyzeType}}
          </label>
        </div>

      </div>

      <div *ngIf="showRequests">
        <h6>لیست درخواست ها</h6>
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>ردیف</th>
              <th>زمان ثبت</th>
              <th>عنوان</th>
              <th>شماره واحد</th>
              <th>نام مالک</th>
              <th>نام مجری</th>
              <!-- <th>توضیحات</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of inspections; let row = index">
              <td>{{ row + 1 }}</td>
              <td> {{ item?.persianRDateTime }}</td>
              <!-- <td>{{ en?.engineerId }}</td> -->
              <td>{{ item?.requestStateType }}</td>
              <td> {{ item?.unitNumber }} </td>
              <td> {{ item?.ownerName }}</td>
              <td> {{ item?.executorName }}</td>
              <!-- <td>{{ item?.description }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="reasonNotFoundEngineer">
        <h6>علت عدم ارجاع لیست</h6>
        <hr>
        <p class="lead text-danger">
          {{reasonNotFoundEngineer}}
        </p>
      </div>

      <div *ngIf="showEngineers">
        <h6>لیست مهندسان</h6>
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>ردیف</th>
              <!-- <th>شماره ( تست)</th> -->
              <th>نام و نام خانوادگی</th>
              <th> کد دفتر گاز</th>
              <th>کد ملی</th>
              <!-- <th>شهر محل سکونت</th> -->
              <th>امتیاز کل</th>
              <th>معیار آنالیز</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let en of engineerList; let row = index">
              <td>{{ row + 1 }}</td>
              <!-- <td>{{ en?.engineerId }}</td> -->
              <td>{{ en?.fullName }}</td>
              <td>{{ en?.engineerOrganizationCode }}</td>
              <td>{{ en?.nationalCode }}</td>
              <!-- <td>{{ en?.liveTownTitle }}</td> -->
              <td>{{ roundNumber2Decimal(en?.totalRank)}}</td>
              <!-- <td>{{ paymentService.thousands_separators_realtime(en?.mainFactor) }}</td> -->
              <td style="direction: ltr;"> {{en?.thousandSepratorOfMainFactor }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <!-- <nb-card-footer>
      <button
        nbButton
        class="btn pull-left float-left"
        hero
        status="primary"
        (click)="onClose()"
      >
        بستن
      </button>
    </nb-card-footer> -->
  </nb-card>
</ng-template>