<nb-card>
  <nb-card-body>
    <div class="row">
      <!-- <div class="col-sm-3 col-md-3 col-lg-3">
        <label>تاریخ درخواست:</label>
        <label>{{ detail?.requestDate }}</label>
      </div> -->
      <div class="col-sm-3 col-md-3 col-lg-3">
        <label>شماره لیست:</label>
        <label>{{ detail?.number }}</label>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <label>تاریخ ساخت لیست:</label>
        <label>{{ detail?.listCreateDate }}</label>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <label>ناحیه:</label>
        <label>{{ detail?.areaTitle }}</label>
      </div>
    </div>
  </nb-card-body>
</nb-card>
