<!-- <button
  nbTooltip="چاپ قرارداد"
  nbTooltipPlacement="top"
  size="tiny"
  class="mb-2 mr-1"
  nbButton
  status="secondary"
  *appHasRole="['Admin', 'Owner', 'Association']"
  (click)="onPrintContract(rData.id)"
>
  <nb-icon
    [options]="{ animation: { type: 'zoom' } }"
    class="icon-button"
    icon="printer-outline"
  >
  </nb-icon>
</button> -->

<button
  nbTooltip="حذف"
  nbTooltipPlacement="top"
  size="tiny"
  class="mb-2 mr-1"
  nbButton
  status="danger"
  (click)="onDeleteContract(rData)"
  *appHasRole="['Admin', 'GasEmployee','AnalyzeEmployee']"
>
  <nb-icon
    [options]="{ animation: { type: 'zoom' } }"
    class="icon-button"
    icon="close-outline"
  >
  </nb-icon>
</button>

<button
  nbTooltip="ویرایش"
  nbTooltipPlacement="top"
  *appHasRole="['Admin', 'GasEmployee','AnalyzeEmployee', 'GasEmployeeExceptShiraz']"
  [disabled]="rData.hasUnit"
  [ngStyle]="{ cursor: rData.hasUnit ? 'not-allowed' : 'pointer' }"
  size="tiny"
  class="mb-2 mr-1"
  nbButton
  status="warning"
  (click)="onEditExecuter(rData.id)"
>
  <nb-icon
    [options]="{ animation: { type: 'zoom' } }"
    class="icon-button"
    icon="edit-2-outline"
  >
  </nb-icon>
</button>

<button
  nbTooltip="ایجاد محدودیت"
  nbTooltipPlacement="top"
  *appHasRole="['Admin']"
  [disabled]="rData.hasUnit || rData.isLimited"
  [ngStyle]="{ cursor: rData.hasUnit ? 'not-allowed' : 'pointer', display : rData.isLimited ? 'none' : 'inline-block' }"
  size="tiny"
  class="mb-2 mr-1"
  nbButton
  status="info"
  (click)="onLimitedExecuter(rData)"
>
  <nb-icon
    [options]="{ animation: { type: 'zoom' } }"
    class="icon-button"
    icon="person-done-outline"
  >
  </nb-icon>
</button>
<button
  nbTooltip="حذف محدودیت"
  nbTooltipPlacement="top"
  *appHasRole="['Admin']"
   [disabled]="rData.hasUnit || !rData.isLimited"
  [ngStyle]="{ cursor: rData.hasUnit ? 'not-allowed' : 'pointer', display : !rData.isLimited ? 'none' : 'inline-block'  }"
  size="tiny"
  class="mb-2 mr-1"
  nbButton
  status="info"
  (click)="onLimitedExecuter(rData)"
>
  <nb-icon
    [options]="{ animation: { type: 'zoom' } }"
    class="icon-button"
    icon="person-delete-outline"
  >
  </nb-icon>
</button>

<button
  nbTooltip="مشاهده جزئیات"
  nbTooltipPlacement="top"
  size="tiny"
  class="mb-2 mr-1"
  nbButton
  status="info"
  [disabled]="rData.hasUnit"
  (click)="onHistory(rData?.id)"
>
  <nb-icon
    [options]="{ animation: { type: 'zoom' } }"
    class="alert-circle-outline"
    icon="eye-outline"
  >
  </nb-icon>
</button>
<ng-template #ExcuterLimitedHistory let-data>
  <app-excuterLimitedDetail [id]="rData?.id"></app-excuterLimitedDetail>
</ng-template>
