.card-container {
  margin-right: 30%;
}

input[nbInput] {
  font-family: IRANSansWeb;
}

.card-header-title {
  font-family: IRANSansWeb;
  text-align: center;
}

.btn {
  font-family: IRANSansWeb;
}
.row {
  height: 100%;
}
