<nb-card id="serachCard" style="box-shadow: 0 0 4px;">
  <nb-card-body>
    <div class="container">
      <form class="form-inline" (ngSubmit)="onSerach()" [formGroup]="form">
        <div class="row">

          <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label for="fileName">
              نام فایل:
            </label>

            <input formControlName="fileName" size="small" fullWidth id="fileName" nbInput />
          </div>
          <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 "
            style="margin-bottom: -40px; margin-top: -31px; margin-right: 64px !important;">
            <button nbTooltip="جستجو" nbTooltipPlacement="top" nbButton hero size="tiny" status="info" type="submit"
              class="ml-1" style="margin-top: 15px;">
              <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="search-outline">
              </nb-icon>
            </button>

            <button nbTooltip="بازسازی" nbTooltipPlacement="top" size="tiny" nbButton hero status="primary"
              type="button" (click)="resetFilters()" style="margin-top: 15px;">
              <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="refresh-outline">
              </nb-icon>
            </button>
          </div>


         
        </div>
      </form>
      <br />
    </div>
  </nb-card-body>
</nb-card>

<nb-card class="table-x-mine" style="box-shadow: 0 0 4px;">
  <nb-card-header class="pt-4" style="border-bottom: 0;">
    <div class="pull-right pt-2">
      <span class="ml-1">کارتابل ورودی</span>
      <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="arrow-ios-back-outline">
      </nb-icon>
      <span class="mr-1" style="color: #3366ff;">فایل های اسکن شده</span>
    </div>
    <div class="pull-left">
      <a class="btn btn-info btn-lg" style="color: #fff;" [routerLink]="['/pages/forms/Contract']"
        *appHasRole="['Association']">
        <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="file-text-outline">
        </nb-icon>
        فایل جدید
      </a>
    </div>
    <div class="clearfix"></div>
  </nb-card-header>

  <nb-card-body>
    <div style="clear: both;"></div>
    <div class="table-wrapper">
      <ng2-smart-table noDataMessage="داده یافت نشد." [settings]="settings" [source]="source | paginate: pagingConfig"
        (custom)="onCustom($event)" style="direction: ltr;"></ng2-smart-table>
    </div>

    <span *ngFor="let item of collection | paginate: pagingConfig"></span>

    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="input-group">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 form-inline pull-right">
              <label for="pageSize" style="margin-left: 0;">
                رکورد صفحه:
              </label>
              <nb-select status="info" #pageSizeSelect class="pageSizeSelect" [selected]="pagination.itemsPerPage"
                (selectedChange)="changePageSize(pageSizeSelect.selected)" id="pageSize" placeholder="انتخاب ...">
                <nb-option *ngFor="let p of pageSizes" [value]="p.id">
                  {{ p.display }}
                </nb-option>
              </nb-select>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-2 ">
              <div class="d-flex justify-content-center">
                <pagination-controls class="pagination" (pageChange)="pageChanged($event)" previousLabel=""
                  nextLabel="">
                </pagination-controls>
              </div>
            </div>

            <div style="padding-right: 7% !important;"
              class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-inline pull-left">
              <label for="pageNumber" style="margin-left: 0.45rem;">
                صفحه:
              </label>
              <input [value]="pagination.currentPage" style="width: 30%;" #pageNumber size="tiny" id="pageNumber"
                nbInput type="number" min="1" max="pagination.totalPages"
                (keydown.enter)="pageChanged(pageNumber.value)" />
              <span> از {{ pagination.totalItems }} نتیجه</span>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>