<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <nb-card>
      <nb-card-header>
        تعیین زمان بندی
      </nb-card-header>
      <nb-card-body>
        <ngx-engineerDetail [engineerId]="engineerId"></ngx-engineerDetail>
        <form (ngSubmit)="manage()" [formGroup]="engineerTime">
          <div formArrayName="engineerWorkTimeDtos">
            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3">روز های هفته</div>
              <div class="col-sm-3 col-md-3 col-lg-3">8-10 صبح</div>
              <div class="col-sm-3 col-md-3 col-lg-3">10-12 صبح</div>
              <div class="col-sm-3 col-md-3 col-lg-3">14-17 بعد از ظهر</div>
            </div>
            <hr />
            <div
              class="row"
              [formGroupName]="i"
              *ngFor="let day of dayOfTheWeeks; let i = index"
            >
              <div class="col-sm-3 col-md-3 col-lg-3">
                <nb-checkbox
                  id="ck"
                  formControlName="dayCodeCheked"
                  (valueChange)="requiredValidator(i,$event)"
                >
                  {{ day.dayTitle }}
                </nb-checkbox>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <nb-checkbox id="ck" formControlName="EighthtToTen"   (valueChange)="firstCheckValidator($event, i)">
                  <!-- {{ day.dayTitle }} -->
                </nb-checkbox>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <nb-checkbox id="ck" formControlName="TenTotwelve"  (valueChange)="secondCheckValidator($event, i)">
                  <!-- {{ day.dayTitle }} -->
                </nb-checkbox>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3">
                <nb-checkbox id="ck" formControlName="FourteenToSeventeen"      (valueChange)="thirdCheckValidator($event, i)">
                  <!-- {{ day.dayTitle }} -->
                </nb-checkbox>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <button
                type="submit"
                nbButton
                [disabled]="engineerTime.invalid"
                status="success"
                class="btn btn-success btn-block"
              >
                ثبت
              </button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <button
                type="button"
                nbButton
                (click)="onCancle()"
                status="danger"
                class="btn btn-success btn-block"
              >
                انصراف
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
