<style>
  .pagination /deep/ .ngx-pagination .current {
    background: lightseagreen;
  }

  .pagination /deep/ pagination-template {
    width: 100% !important;
  }

  .pagination {
    text-align: center !important;
  }

  dp-date-picker /deep/ .dp-input-container .dp-picker-input {
    width: 220px !important;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.4375rem 1.125rem;
    background-color: #f7f9fc;
    border-color: #edf1f7;
    border-style: solid;
    border-width: 1px;
    color: #1a2138;
    -webkit-appearance: none;
    transition-duration: 0.15s;
    transition-property: border, background-color, color, box-shadow;
    transition-timing-function: ease-in;
    font-family: IRANSansWeb;
    overflow: visible;
  }

  nb-select.pageSizeSelect /deep/ .select-button {
    min-width: 8rem !important;
  }

  nb-select.workStatus /deep/ .select-button {
    padding: 0.3rem 1.125rem !important;
  }

  nb-accordion nb-accordion-item-body /deep/ .item-body {
    padding: 0 !important;
  }

  .col-lg-3.col-md-3.col-sm-6.col-xs-12,
  .col-lg-2.col-md-2.col-sm-6.col-xs-12 {
    padding: 7px;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.8;
    font-size: 1rem;
  } 

  Ngcontainer {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
  }

  .show {
    overflow: visible;
    height: auto;
  }

  :host /deep/ .cell_right {
    direction: rtl !important;

  }
  dp-date-picker /deep/button.dp-calendar-nav-left::before {
    transform: rotate(52deg)!important;
  }
  dp-date-picker /deep/button.dp-calendar-nav-right::before {
    transform: rotate(224deg)!important;
  }
  dp-date-picker /deep/ .dp-nav-btns-container
  {
    direction: rtl!important;
  }
 
</style>

<nb-card style="box-shadow: 0 0 4px">
  <nb-card-body>
    <nb-accordion multi>
      <nb-accordion-item expanded>
        <nb-accordion-item-header *appHasNoRole="['Pishkhan']">
          جستجوی پیشرفته
        </nb-accordion-item-header>
        <nb-accordion-item-header *appHasRole="['Pishkhan']">
          جستجوی پیامک
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="container" id="serachCard">
            <form class="form-inline" (ngSubmit)="onSerach()" [formGroup]="form">
              <ul>
                <li class="text-danger" *ngIf="
                    form.get('dateStart').value > form.get('dateEnd').value &&
                    form.get('dateEnd').value !== ''
                  ">
                  <span class="text-danger">تاریخ شروع ثبت می بایست کوچکتر از پایان ثبت باشد.</span>
                </li>
              </ul>

              <div class="row" *appHasNoRole="['Pishkhan']">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <label class="align-right d-block mb-3" for="fileNumber">
                    متن پیام:
                  </label>

                  <div class="form-group">
                    <input formControlName="fileNumber" size="small" fullWidth id="fileNumber" nbInput type="text" />
                  </div>

                </div>

                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <label for="workStatus"> زمان ثبت از: </label>
                  <dp-date-picker name="ds" placeHolder="زمان ثبت شروع" id="ds" nbInput dir="rtl" mode="day"
                    theme="dp-material" formControlName="dateStart" [config]="datePickerConfig"
                    (open)="openStartDayPicker()" (close)="closeStartDayPicker()" nbInput></dp-date-picker>
                </div>

                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <label for="workStatus"> زمان ثبت تا: </label>


                  <dp-date-picker name="de" placeHolder="زمان ثبت پایان" id="de" nbInput dir="rtl" mode="day"
                    theme="dp-material" formControlName="dateEnd" [config]="datePickerConfig"
                    (open)="openEndDayPicker()" (close)="closeEndDayPicker()"
                    class="input-full-width size-medium shape-rectangle" nbInput></dp-date-picker>

                </div>
                <!-- <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <label for="isSuccess"> موفق / ناموفق</label>
                  <app-toggle-switch></app-toggle-switch>
                </div> -->

                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <label class="align-right d-block mb-3" for="fileNumber">
                    موفق / ناموفق :
                  </label>

                  <div class="form-group">
                    <app-toggle-switch></app-toggle-switch>
                  </div>

                </div> -->
              </div>

              <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-12 float-right pr-0 mr-3 p-0">
                <button nbTooltip="جستجو" nbTooltipPlacement="top" nbButton hero size="tiny" status="info" type="submit"
                  class="ml-1" style="height: 45%">
                  <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="search-outline">
                  </nb-icon>
                </button>

                <button nbTooltip="بازسازی" nbTooltipPlacement="top" size="tiny" nbButton hero status="primary"
                  type="button" (click)="resetFilters()" style=" height: 45%">
                  <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="refresh-outline">
                  </nb-icon>
                </button>
              </div>
            </form>
            <br />
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

    </nb-accordion>
  </nb-card-body>
</nb-card>
<nb-card class="table-x-mine" style="box-shadow: 0 0 4px">
  <nb-card-header class="pt-4" style="border-bottom: 0">
    <div class="pull-right pt-2">
      <span>کارتابل ورودی</span>
      <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="arrow-ios-back-outline">
      </nb-icon>

      <span class="mr-1" style="color: #3366ff">سرویس پیامک</span>
    </div>

    <div class="clearfix"></div>
  </nb-card-header>
  <nb-card-body class="pt-0">
    <div style="clear: both"></div>
    <div class="table-wrapper">
      <ng2-smart-table [settings]="settings" [source]="source | paginate: pagingConfig" (custom)="onCustom($event)"
        style="direction: ltr">
      </ng2-smart-table>
    </div>
    <span *ngFor="let item of collection | paginate: pagingConfig"></span>

    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="input-group">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 form-inline pull-right">
              <label for="pageSize" style="margin-left: 0"> رکورد صفحه: </label>
              <nb-select status="info" #pageSizeSelect class="pageSizeSelect" [selected]="pagination.itemsPerPage"
                (selectedChange)="changePageSize(pageSizeSelect.selected)" id="pageSize" placeholder="انتخاب ...">
                <nb-option *ngFor="let p of pageSizes" [value]="p.id">
                  {{ p.display }}
                </nb-option>
              </nb-select>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-2">
              <div class="d-flex justify-content-center">
                <pagination-controls class="pagination" (pageChange)="pageChanged($event)" previousLabel=""
                  nextLabel="">
                </pagination-controls>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 form-inline pull-left">
              <label for="pageSize" style="margin-left: 0.45rem;">
                تعداد رکورد:{{ pagination.totalItems }}
              </label>
            </div>
            <div style="padding-right: 7% !important" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-inline pull-left">
              <label for="pageNumber" style="margin-left: 0.45rem">
                صفحه:
              </label>
              <input [value]="pagination.currentPage" style="width: 30%" #pageNumber size="tiny" id="pageNumber" nbInput
                type="number" min="1" max="pagination.totalPages" (keydown.enter)="pageChanged(pageNumber.value)" />
              <span> از {{ pagination.totalItems }} نتیجه</span>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>