<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <nb-card style="box-shadow: 0 0 4px;">
      <nb-card-header class="text-primary">
        پرداخت با فیش بانکی
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label for="cd">مبلغ پرداخت شده:</label>
              <input
                [value]="amount"
                readonly
                type="text"
                nbInput
                id="amount"
                style="width: 60%;"
              />
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label for="cd">تاریخ پرداخت:</label>
              <dp-date-picker
                name="cd"
                fullWidth
                id="cd"
                nbInput
                dir="rtl"
                mode="day"
                theme="dp-material"
                formControlName="verifyPayTime"
              ></dp-date-picker>

              <div
                *ngFor="
                  let validation of INPUT_VALIDATION_MESSAGES.verifyPayTime
                "
              >
                <span
                  class="text-danger"
                  *ngIf="
                    form.get('verifyPayTime').hasError(validation.type) &&
                    (form.get('verifyPayTime').dirty ||
                      form.get('verifyPayTime').touched)
                  "
                >
                  {{ validation.message }}</span
                >
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label for="recieptNumber">شماره فیش:</label>
              <input
                style="width: 60%;"
                type="text"
                nbInput
                fullWidth
                formControlName="recieptNumber"
                id="recieptNumber"
              />
              <div
                *ngFor="
                  let validation of INPUT_VALIDATION_MESSAGES.recieptNumber
                "
              >
                <span
                  class="text-danger"
                  *ngIf="
                    form.get('recieptNumber').hasError(validation.type) &&
                    (form.get('recieptNumber').dirty ||
                      form.get('recieptNumber').touched)
                  "
                >
                  {{ validation.message }}</span
                >
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label for="bankAccountId" style="margin-left: 0.45rem;"
                >شماره حساب:</label
              >
              <nb-select
                placeholder="انتخاب ..."
                fullWidth
                id="bankAccountId"
                formControlName="bankAccountId"
                style="width: 60%;"
              >
                <nb-option *ngFor="let item of banksInfo" [value]="item.id">
                  {{ item.bankName }} ( {{ item.accountNo }} )
                </nb-option>
              </nb-select>

              <div *ngIf="isSubmitted">
                <div
                  *ngFor="
                    let validation of INPUT_VALIDATION_MESSAGES.bankAccountId
                  "
                >
                  <span
                    class="text-danger"
                    *ngIf="form.controls.bankAccountId.value === ''"
                    >{{ validation.message }}</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="input-group mt-4">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <label for="file">تصویر فیش بانکی:</label>
              <div *ngFor="let a of inputCount; let i = index">
                <strong
                class="mb-2"
                style="
                  color: rgb(0, 68, 255);
                  display: block;
                  font-size: 11px;
                "
              >
                حداکثر حجم {{ sizeTitles[i] }} - فرمت ها ({{
                  a.extentions
                }})
              </strong>
                <app-uploader
                  [formControlName]="a.formControlName"
                  [filePath]="imagePath"
                >
                </app-uploader>
              </div>
            </div>
          </div>

          <!-- </nb-card-body>
            </nb-card> -->

          <nb-card class="mt-5">
            <nb-card-body>
              <div class="row mt-5">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <button
                    fullWidth
                    class="btn"
                    nbButton
                    status="success"
                    type="submit"
                    [disabled]="!form.valid || loading"
                    [nbSpinner]="loading"
                    nbSpinnerStatus="info"
                    nbSpinnerSize="large"
                  >
                    ثبت
                  </button>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <button
                    class="btn"
                    nbButton
                    fullWidth
                    status="danger"
                    type="button"
                    [routerLink]="['/pages/forms/GasReqList']"
                  >
                    انصراف
                  </button>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- <nb-card>
               <nb-card-body>
                <div class="col-lg-12 col-md-12 col-sm-12 input-group">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <label for="dk" style="display: inline-block;">
                      <li>نوع پرداخت</li>
                    </label>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <nb-radio-group class="form-inline" formControlName="paymentType" id="conf" name="conf">
                      <nb-radio value="BalancePay">
                        <label class="radio-label">
                          کسر از موجودی
                        </label>
                      </nb-radio>
                      <nb-radio value="onlinePay">
                        <label class="radio-label">
                           پرداخت اینترنتی
                        </label>
                      </nb-radio>
                    </nb-radio-group>
                    <div *ngIf="isSubmitted">
                        <div *ngFor="
                            let validation of validationMessages.paymentType">
                          <span class="text-danger" *ngIf="
                                form
                                .get('paymentType')
                                .hasError(validation.type)
                            ">{{ validation.message }}</span>
                        </div>
                    </div>
                  </div>
                </div>
               </nb-card-body>
             </nb-card>
-->
