//  @nebular theming framework
@import '~@nebular/theme/styles/theming';
//  @nebular out of the box themes
@import '~@nebular/theme/styles/themes/default';
// Import Custom Font
@import 'font-family';

//$nb-enabled-themes: (default, cosmic, corporate);

$nb-themes: nb-register-theme((
  // Style Progress bar
  background: #ee3148,
  border: 5px solid #fff,
  border-right-color: rgba(0, 0, 0, .2),
  border-left-color: rgba(0, 0, 0, .2),
  border-top-color: rgba(0, 0, 0, .2),
  border-bottom-color: rgba(0, 0, 0, .2),
  // Style Side Bars
  sidebar-header-gap: 0.65rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  list-item-border-width: 1px,
  slide-out-container-width: 30%,
  slide-out-background: 0 4px 14px 0 #a2d2c8,
  //ecommerce-card-border-width: 1px,
  color-primary-100: #f2f6ff,
  color-primary-200: #d9e4ff,
  color-primary-300: #a6c1ff,
  color-primary-400: #598bff,
  color-primary-500: #3366ff,
  color-primary-600: #274bdb,
  color-primary-700: #1a34b8,
  color-primary-800: #102694,
  color-primary-900: #091c7a,
  color-success-100: #f0fff5,
  color-success-200: #ccfce3,
  color-success-300: #8cfac7,
  color-success-400: #2ce69b,
  color-success-500: #00d68f,
  color-success-600: #00b887,
  color-success-700: #00997a,
  color-success-800: #007d6c,
  color-success-900: #004a42,
  color-info-100: #f2f8ff,
  color-info-200: #c7e2ff,
  color-info-300: #94cbff,
  color-info-400: #42aaff,
  color-info-500: #0095ff,
  color-info-600: #006fd6,
  color-info-700: #0057c2,
  color-info-800: #0041a8,
  color-info-900: #002885,
  color-warning-100: #fffdf2,
  color-warning-200: #fff1c2,
  color-warning-300: #ffe59e,
  color-warning-400: #ffc94d,
  color-warning-500: #ffaa00,
  color-warning-600: #db8b00,
  color-warning-700: #b86e00,
  color-warning-800: #945400,
  color-warning-900: #703c00,
  color-danger-100: #fff2f2,
  color-danger-200: #ffd6d9,
  color-danger-300: #ffa8b4,
  color-danger-400: #ff708d,
  color-danger-500: #ff3d71,
  color-danger-600: #db2c66,
  color-danger-700: #b81d5b,
  color-danger-800: #94124e,
  color-danger-900: #700940,
  color-basic-100: #ffffff,
  color-basic-200: #f7f9fc,
  color-basic-300: #edf1f7,
  color-basic-400: #e4e9f2,
  color-basic-500: #c5cee0,
  color-basic-600: #8f9bb3,
  color-basic-700: #2e3a59,
  color-basic-800: #222b45,
  color-basic-900: #1a2138,
  color-basic-1000: #151a30,
  color-basic-1100: #101426,
  color-primary-focus: #1a34b8,
  color-primary-hover: #598bff,
  color-primary-default: #3366ff,
  color-primary-active: #274bdb,
  color-primary-disabled: #a6c1ff,
  color-success-focus: #00997a,
  color-success-hover: #2ce69b,
  color-success-default: #00d68f,
  color-success-active: #00b887,
  color-success-disabled: #ccfce3,
  color-info-focus: #0057c2,
  color-info-hover: #42aaff,
  color-info-default: #0095ff,
  color-info-active: #006fd6,
  color-info-disabled: #94cbff,
  color-warning-focus: #b86e00,
  color-warning-hover: #ffc94d,
  color-warning-default: #ffaa00,
  color-warning-active: #db8b00,
  color-warning-disabled: #ffe59e,
  color-danger-focus: #b81d5b,
  color-danger-hover: #ff708d,
  color-danger-default: #ff3d71,
  color-danger-active: #db2c66,
  color-danger-disabled: #ffa8b4,
  color-basic-focus: #2e3a59,
  color-basic-hover: #e4e9f2,
  color-basic-default: #c5cee0,
  color-basic-active: #8f9bb3,
  color-basic-disabled: #edf1f7,
  background-basic-color-1: #ffffff,
  background-basic-color-2: #f7f9fc,
  background-basic-color-3: #e2e4ea,
  //background-basic-color-3: #b8c2d8
  // background-basic-color-3: #edf1f7,
  background-basic-color-4: #e4e9f2,
  border-basic-color-1: #ffffff,
  border-basic-color-2: #f7f9fc,
  border-basic-color-3: #edf1f7,
  border-basic-color-4: #e4e9f2,
  border-basic-color-5: #c5cee0,
  background-alternative-color-1: #222b45,
  background-alternative-color-2: #1a2138,
  background-alternative-color-3: #151a30,
  background-alternative-color-4: #101426,
  border-alternative-color-1: #222b45,
  border-alternative-color-2: #1a2138,
  border-alternative-color-3: #151a30,
  border-alternative-color-4: #101426,
  border-alternative-color-5: #101426,
  background-primary-color-1: #3366ff,
  background-primary-color-2: #274bdb,
  background-primary-color-3: #1a34b8,
  background-primary-color-4: #102694,
  border-primary-color-1: #c5cee0,
  border-primary-color-2: #8f9bb3,
  border-primary-color-3: #2e3a59,
  border-primary-color-4: #222b45,
  border-primary-color-5: #1a2138,
  text-basic-color: #1a2138,
  text-alternate-color: #ffffff,
  text-control-color: #ffffff,
  text-disabled-color: #c5cee0,
  text-hint-color: #8f9bb3,
  text-primary-color: #3366ff,
  text-primary-focus-color: #1a34b8,
  text-primary-hover-color: #598bff,
  text-primary-active-color: #274bdb,
  text-primary-disabled-color: #598bff,
  text-success-color: #00d68f,
  text-success-focus-color: #00997a,
  text-success-hover-color: #2ce69b,
  text-success-active-color: #00b887,
  text-success-disabled-color: #2ce69b,
  text-info-color: #0095ff,
  text-info-focus-color: #0057c2,
  text-info-hover-color: #42aaff,
  text-info-active-color: #006fd6,
  text-info-disabled-color: #42aaff,
  text-warning-color: #ffaa00,
  text-warning-focus-color: #b86e00,
  text-warning-hover-color: #ffc94d,
  text-warning-active-color: #db8b00,
  text-warning-disabled-color: #ffc94d,
  text-danger-color: #ff3d71,
  text-danger-focus-color: #b81d5b,
  text-danger-hover-color: #ff708d,
  text-danger-active-color: #db2c66,
  text-danger-disabled-color: #ff708d,
  font-family-primary: IRANSansWeb,
  font-family-secondary: IRANSansWeb,
  text-heading-1-font-family: IRANSansWeb,
  text-heading-1-font-size: 2.25rem,
  text-heading-1-font-weight: 800,
  text-heading-1-line-height: 3rem,
  text-heading-2-font-family: IRANSansWeb,
  text-heading-2-font-size: 2rem,
  text-heading-2-font-weight: 800,
  text-heading-2-line-height: 2.5rem,
  text-heading-3-font-family: IRANSansWeb,
  text-heading-3-font-size: 1.875rem,
  text-heading-3-font-weight: 800,
  text-heading-3-line-height: 2.5rem,
  text-heading-4-font-family: IRANSansWeb,
  text-heading-4-font-size: 1.625rem,
  text-heading-4-font-weight: 800,
  text-heading-4-line-height: 2rem,
  text-heading-5-font-family: IRANSansWeb,
  text-heading-5-font-size: 1.375rem,
  text-heading-5-font-weight: 800,
  text-heading-5-line-height: 2rem,
  text-heading-6-font-family: IRANSansWeb,
  text-heading-6-font-size: 1.125rem,
  text-heading-6-font-weight: 800,
  text-heading-6-line-height: 1.5rem,
  text-subtitle-font-family: IRANSansWeb,
  text-subtitle-font-size: 0.9375rem,
  text-subtitle-font-weight: 600,
  text-subtitle-line-height: 1.5rem,
  text-subtitle-2-font-family: IRANSansWeb,
  text-subtitle-2-font-size: 0.8125rem,
  text-subtitle-2-font-weight: 600,
  text-subtitle-2-line-height: 1.5rem,
  text-paragraph-font-family: IRANSansWeb,
  text-paragraph-font-size: 0.9375rem,
  text-paragraph-font-weight: 400,
  text-paragraph-line-height: 1.25rem,
  text-paragraph-2-font-family: IRANSansWeb,
  text-paragraph-2-font-size: 0.8125rem,
  text-paragraph-2-font-weight: 400,
  text-paragraph-2-line-height: 1rem,
  text-label-font-family: IRANSansWeb,
  text-label-font-size: 0.75rem,
  text-label-font-weight: 800,
  text-label-line-height: 1rem,
  text-caption-font-family: IRANSansWeb,
  text-caption-font-size: 0.75rem,
  text-caption-font-weight: 400,
  text-caption-line-height: 1rem,
  text-caption-2-font-family: IRANSansWeb,
  text-caption-2-font-size: 0.75rem,
  text-caption-2-font-weight: 600,
  text-caption-2-line-height: 1rem,
  text-button-font-family: IRANSansWeb,
  text-button-font-weight: 800,
  text-button-tiny-font-size: 0.625rem,
  text-button-tiny-line-height: 0.75rem,
  text-button-small-font-size: 0.75rem,
  text-button-small-line-height: 1rem,
  text-button-medium-font-size: 0.875rem,
  text-button-medium-line-height: 1rem,
  text-button-large-font-size: 1rem,
  text-button-large-line-height: 1.25rem,
  text-button-giant-font-size: 1.125rem,
  text-button-giant-line-height: 1.5rem,
  border-radius: 0.25rem,
  outline-width: 0.375rem,
  outline-color: #e4e9f2,
  scrollbar-color: #e4e9f2,
  scrollbar-background-color: #f7f9fc,
  scrollbar-width: 0.3125rem,
  shadow: (0 0.5 remm 1 remm 0 rgba(44, 51, 73, 0.1)),
  divider-color: #edf1f7,
  divider-style: solid,
  divider-width: 1px,
), sefid, default);

$nb-themes: nb-register-theme((
  sidebar-header-gap: 0.65rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  list-item-border-width: 1px,
  slide-out-container-width: 30%,
  slide-out-background: 0 4px 14px 0 #a2d2c8,
  //ecommerce-card-border-width: 1px,
  color-primary-300: #d5bfff,
  color-primary-400: #b18aff,
  color-primary-500: #a16eff,
  color-primary-600: #7b51db,
  color-primary-700: #5a37b8,
  color-primary-800: #3e2494,
  color-primary-900: #29157a,
  color-success-100: #f0fff5,
  color-success-200: #ccfce3,
  color-success-300: #8cfac7,
  color-success-400: #2ce69b,
  color-success-500: #00d68f,
  color-success-600: #00b887,
  color-success-700: #00997a,
  color-success-800: #007d6c,
  color-success-900: #004a42,
  color-info-100: #f2f8ff,
  color-info-200: #c7e2ff,
  color-info-300: #94cbff,
  color-info-400: #42aaff,
  color-info-500: #0095ff,
  color-info-600: #006fd6,
  color-info-700: #0057c2,
  color-info-800: #0041a8,
  color-info-900: #002885,
  color-warning-100: #fffdf2,
  color-warning-200: #fff1c2,
  color-warning-300: #ffe59e,
  color-warning-400: #ffc94d,
  color-warning-500: #ffaa00,
  color-warning-600: #db8b00,
  color-warning-700: #b86e00,
  color-warning-800: #945400,
  color-warning-900: #703c00,
  color-danger-100: #fff2f2,
  color-danger-200: #ffd6d9,
  color-danger-300: #ffa8b4,
  color-danger-400: #ff708d,
  color-danger-500: #ff3d71,
  color-danger-600: #db2c66,
  color-danger-700: #b81d5b,
  color-danger-800: #94124e,
  color-danger-900: #700940,
  color-basic-100: #ffffff,
  color-basic-200: #f7f7fc,
  color-basic-300: #f0f0fa,
  color-basic-400: #e1e1f2,
  color-basic-500: #ceceeb,
  color-basic-600: #b4b4db,
  color-basic-700: #6a6a94,
  color-basic-800: #323259,
  color-basic-900: #252547,
  color-basic-1000: #1b1b38,
  color-basic-1100: #13132b,
  color-primary-focus: #5a37b8,
  color-primary-hover: #b18aff,
  color-primary-default: #a16eff,
  color-primary-active: #7b51db,
  color-primary-disabled: #d5bfff,
  color-success-focus: #00997a,
  color-success-hover: #2ce69b,
  color-success-default: #00d68f,
  color-success-active: #00b887,
  color-success-disabled: #ccfce3,
  color-info-focus: #0057c2,
  color-info-hover: #42aaff,
  color-info-default: #0095ff,
  color-info-active: #006fd6,
  color-info-disabled: #94cbff,
  color-warning-focus: #b86e00,
  color-warning-hover: #ffc94d,
  color-warning-default: #ffaa00,
  color-warning-active: #db8b00,
  color-warning-disabled: #ffe59e,
  color-danger-focus: #b81d5b,
  color-danger-hover: #ff708d,
  color-danger-default: #ff3d71,
  color-danger-active: #db2c66,
  color-danger-disabled: #ffa8b4,
  color-basic-focus: #6a6a94,
  color-basic-hover: #e1e1f2,
  color-basic-default: #ceceeb,
  color-basic-active: #b4b4db,
  color-basic-disabled: #f0f0fa,
  background-basic-color-1: #323259,
  background-basic-color-2: #252547,
  background-basic-color-3: #1b1b38,
  background-basic-color-4: #13132b,
  border-basic-color-1: #323259,
  border-basic-color-2: #252547,
  border-basic-color-3: #1b1b38,
  border-basic-color-4: #13132b,
  border-basic-color-5: #13132b,
  background-alternative-color-1: #ffffff,
  background-alternative-color-2: #f7f7fc,
  background-alternative-color-3: #f0f0fa,
  background-alternative-color-4: #e1e1f2,
  border-alternative-color-1: #ffffff,
  border-alternative-color-2: #f7f7fc,
  border-alternative-color-3: #f0f0fa,
  border-alternative-color-4: #e1e1f2,
  border-alternative-color-5: #ceceeb,
  background-primary-color-1: #a16eff,
  background-primary-color-2: #7b51db,
  background-primary-color-3: #5a37b8,
  background-primary-color-4: #3e2494,
  border-primary-color-1: #ceceeb,
  border-primary-color-2: #b4b4db,
  border-primary-color-3: #6a6a94,
  border-primary-color-4: #323259,
  border-primary-color-5: #252547,
  text-basic-color: #ffffff,
  text-alternate-color: #252547,
  text-control-color: #ffffff,
  text-disabled-color: #6a6a94,
  text-hint-color: #b4b4db,
  text-primary-color: #a16eff,
  text-primary-focus-color: #5a37b8,
  text-primary-hover-color: #b18aff,
  text-primary-active-color: #7b51db,
  text-primary-disabled-color: #b18aff,
  text-success-color: #00d68f,
  text-success-focus-color: #00997a,
  text-success-hover-color: #2ce69b,
  text-success-active-color: #00b887,
  text-success-disabled-color: #2ce69b,
  text-info-color: #0095ff,
  text-info-focus-color: #0057c2,
  text-info-hover-color: #42aaff,
  text-info-active-color: #006fd6,
  text-info-disabled-color: #42aaff,
  text-warning-color: #ffaa00,
  text-warning-focus-color: #b86e00,
  text-warning-hover-color: #ffc94d,
  text-warning-active-color: #db8b00,
  text-warning-disabled-color: #ffc94d,
  text-danger-color: #ff3d71,
  text-danger-focus-color: #b81d5b,
  text-danger-hover-color: #ff708d,
  text-danger-active-color: #db2c66,
  text-danger-disabled-color: #ff708d,
  font-family-primary: IRANSansWeb,
  font-family-secondary: IRANSansWeb,
  text-heading-1-font-family: IRANSansWeb,
  text-heading-1-font-size: 2.25rem,
  text-heading-1-font-weight: 800,
  text-heading-1-line-height: 3rem,
  text-heading-2-font-family: IRANSansWeb,
  text-heading-2-font-size: 2rem,
  text-heading-2-font-weight: 800,
  text-heading-2-line-height: 2.5rem,
  text-heading-3-font-family: IRANSansWeb,
  text-heading-3-font-size: 1.875rem,
  text-heading-3-font-weight: 800,
  text-heading-3-line-height: 2.5rem,
  text-heading-4-font-family: IRANSansWeb,
  text-heading-4-font-size: 1.625rem,
  text-heading-4-font-weight: 800,
  text-heading-4-line-height: 2rem,
  text-heading-5-font-family: IRANSansWeb,
  text-heading-5-font-size: 1.375rem,
  text-heading-5-font-weight: 800,
  text-heading-5-line-height: 2rem,
  text-heading-6-font-family: IRANSansWeb,
  text-heading-6-font-size: 1.125rem,
  text-heading-6-font-weight: 800,
  text-heading-6-line-height: 1.5rem,
  text-subtitle-font-family: IRANSansWeb,
  text-subtitle-font-size: 0.9375rem,
  text-subtitle-font-weight: 600,
  text-subtitle-line-height: 1.5rem,
  text-subtitle-2-font-family: IRANSansWeb,
  text-subtitle-2-font-size: 0.8125rem,
  text-subtitle-2-font-weight: 600,
  text-subtitle-2-line-height: 1.5rem,
  text-paragraph-font-family: IRANSansWeb,
  text-paragraph-font-size: 0.9375rem,
  text-paragraph-font-weight: 400,
  text-paragraph-line-height: 1.25rem,
  text-paragraph-2-font-family: IRANSansWeb,
  text-paragraph-2-font-size: 0.8125rem,
  text-paragraph-2-font-weight: 400,
  text-paragraph-2-line-height: 1rem,
  text-label-font-family: IRANSansWeb,
  text-label-font-size: 0.75rem,
  text-label-font-weight: 800,
  text-label-line-height: 1rem,
  text-caption-font-family: IRANSansWeb,
  text-caption-font-size: 0.75rem,
  text-caption-font-weight: 400,
  text-caption-line-height: 1rem,
  text-caption-2-font-family: IRANSansWeb,
  text-caption-2-font-size: 0.75rem,
  text-caption-2-font-weight: 600,
  text-caption-2-line-height: 1rem,
  text-button-font-family: IRANSansWeb,
  text-button-font-weight: 800,
  text-button-tiny-font-size: 0.625rem,
  text-button-tiny-line-height: 0.75rem,
  text-button-small-font-size: 0.75rem,
  text-button-small-line-height: 1rem,
  text-button-medium-font-size: 0.875rem,
  text-button-medium-line-height: 1rem,
  text-button-large-font-size: 1rem,
  text-button-large-line-height: 1.25rem,
  text-button-giant-font-size: 1.125rem,
  text-button-giant-line-height: 1.5rem,
  border-radius: 0.25rem,
  outline-width: 0.375rem,
  outline-color: #6a6a94,
  scrollbar-color: #13132b,
  scrollbar-background-color: #252547,
  scrollbar-width: 0.3125rem,
  shadow: 0 0.5rem 1rem 0 #1a1f33,
  divider-color: #1b1b38,
  divider-style: solid,
  divider-width: 1px,
), banafsh, default);

$nb-themes: nb-register-theme((
  sidebar-header-gap: 0.65rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  list-item-border-width: 1px,
  slide-out-container-width: 30%,
  slide-out-background: 0 4px 14px 0 #a2d2c8,
  //ecommerce-card-border-width: 1px,
  color-primary-100: #f2f6ff,
  color-primary-200: #d9e4ff,
  color-primary-300: #a6c1ff,
  color-primary-400: #598bff,
  color-primary-500: #3366ff,
  color-primary-600: #274bdb,
  color-primary-700: #1a34b8,
  color-primary-800: #102694,
  color-primary-900: #091c7a,
  color-success-100: #f0fff5,
  color-success-200: #ccfce3,
  color-success-300: #8cfac7,
  color-success-400: #2ce69b,
  color-success-500: #00d68f,
  color-success-600: #00b887,
  color-success-700: #00997a,
  color-success-800: #007d6c,
  color-success-900: #004a42,
  color-info-100: #f2f8ff,
  color-info-200: #c7e2ff,
  color-info-300: #94cbff,
  color-info-400: #42aaff,
  color-info-500: #0095ff,
  color-info-600: #006fd6,
  color-info-700: #0057c2,
  color-info-800: #0041a8,
  color-info-900: #002885,
  color-warning-100: #fffdf2,
  color-warning-200: #fff1c2,
  color-warning-300: #ffe59e,
  color-warning-400: #ffc94d,
  color-warning-500: #ffaa00,
  color-warning-600: #db8b00,
  color-warning-700: #b86e00,
  color-warning-800: #945400,
  color-warning-900: #703c00,
  color-danger-100: #fff2f2,
  color-danger-200: #ffd6d9,
  color-danger-300: #ffa8b4,
  color-danger-400: #ff708d,
  color-danger-500: #ff3d71,
  color-danger-600: #db2c66,
  color-danger-700: #b81d5b,
  color-danger-800: #94124e,
  color-danger-900: #700940,
  color-basic-100: #ffffff,
  color-basic-200: #f7f9fc,
  color-basic-300: #edf1f7,
  color-basic-400: #e4e9f2,
  color-basic-500: #c5cee0,
  color-basic-600: #8f9bb3,
  color-basic-700: #2e3a59,
  color-basic-800: #222b45,
  color-basic-900: #1a2138,
  color-basic-1000: #151a30,
  color-basic-1100: #101426,
  color-primary-focus: #1a34b8,
  color-primary-hover: #598bff,
  color-primary-default: #3366ff,
  color-primary-active: #274bdb,
  color-primary-disabled: #a6c1ff,
  color-success-focus: #00997a,
  color-success-hover: #2ce69b,
  color-success-default: #00d68f,
  color-success-active: #00b887,
  color-success-disabled: #ccfce3,
  color-info-focus: #0057c2,
  color-info-hover: #42aaff,
  color-info-default: #0095ff,
  color-info-active: #006fd6,
  color-info-disabled: #94cbff,
  color-warning-focus: #b86e00,
  color-warning-hover: #ffc94d,
  color-warning-default: #ffaa00,
  color-warning-active: #db8b00,
  color-warning-disabled: #ffe59e,
  color-danger-focus: #b81d5b,
  color-danger-hover: #ff708d,
  color-danger-default: #ff3d71,
  color-danger-active: #db2c66,
  color-danger-disabled: #ffa8b4,
  color-basic-focus: #2e3a59,
  color-basic-hover: #e4e9f2,
  color-basic-default: #c5cee0,
  color-basic-active: #8f9bb3,
  color-basic-disabled: #edf1f7,
  background-basic-color-1: #222b45,
  background-basic-color-2: #1a2138,
  background-basic-color-3: #151a30,
  background-basic-color-4: #101426,
  border-basic-color-1: #222b45,
  border-basic-color-2: #1a2138,
  border-basic-color-3: #151a30,
  border-basic-color-4: #101426,
  border-basic-color-5: #101426,
  background-alternative-color-1: #ffffff,
  background-alternative-color-2: #f7f9fc,
  background-alternative-color-3: #edf1f7,
  background-alternative-color-4: #e4e9f2,
  border-alternative-color-1: #ffffff,
  border-alternative-color-2: #f7f9fc,
  border-alternative-color-3: #edf1f7,
  border-alternative-color-4: #e4e9f2,
  border-alternative-color-5: #c5cee0,
  background-primary-color-1: #3366ff,
  background-primary-color-2: #274bdb,
  background-primary-color-3: #1a34b8,
  background-primary-color-4: #102694,
  border-primary-color-1: #c5cee0,
  border-primary-color-2: #8f9bb3,
  border-primary-color-3: #2e3a59,
  border-primary-color-4: #222b45,
  border-primary-color-5: #1a2138,
  text-basic-color: #ffffff,
  text-alternate-color: #1a2138,
  text-control-color: #ffffff,
  text-disabled-color: #2e3a59,
  text-hint-color: #8f9bb3,
  text-primary-color: #3366ff,
  text-primary-focus-color: #1a34b8,
  text-primary-hover-color: #598bff,
  text-primary-active-color: #274bdb,
  text-primary-disabled-color: #598bff,
  text-success-color: #00d68f,
  text-success-focus-color: #00997a,
  text-success-hover-color: #2ce69b,
  text-success-active-color: #00b887,
  text-success-disabled-color: #2ce69b,
  text-info-color: #0095ff,
  text-info-focus-color: #0057c2,
  text-info-hover-color: #42aaff,
  text-info-active-color: #006fd6,
  text-info-disabled-color: #42aaff,
  text-warning-color: #ffaa00,
  text-warning-focus-color: #b86e00,
  text-warning-hover-color: #ffc94d,
  text-warning-active-color: #db8b00,
  text-warning-disabled-color: #ffc94d,
  text-danger-color: #ff3d71,
  text-danger-focus-color: #b81d5b,
  text-danger-hover-color: #ff708d,
  text-danger-active-color: #db2c66,
  text-danger-disabled-color: #ff708d,
  font-family-primary: IRANSansWeb,
  font-family-secondary: IRANSansWeb,
  text-heading-1-font-family: IRANSansWeb,
  text-heading-1-font-size: 2.25rem,
  text-heading-1-font-weight: 800,
  text-heading-1-line-height: 3rem,
  text-heading-2-font-family: IRANSansWeb,
  text-heading-2-font-size: 2rem,
  text-heading-2-font-weight: 800,
  text-heading-2-line-height: 2.5rem,
  text-heading-3-font-family: IRANSansWeb,
  text-heading-3-font-size: 1.875rem,
  text-heading-3-font-weight: 800,
  text-heading-3-line-height: 2.5rem,
  text-heading-4-font-family: IRANSansWeb,
  text-heading-4-font-size: 1.625rem,
  text-heading-4-font-weight: 800,
  text-heading-4-line-height: 2rem,
  text-heading-5-font-family: IRANSansWeb,
  text-heading-5-font-size: 1.375rem,
  text-heading-5-font-weight: 800,
  text-heading-5-line-height: 2rem,
  text-heading-6-font-family: IRANSansWeb,
  text-heading-6-font-size: 1.125rem,
  text-heading-6-font-weight: 800,
  text-heading-6-line-height: 1.5rem,
  text-subtitle-font-family: IRANSansWeb,
  text-subtitle-font-size: 0.9375rem,
  text-subtitle-font-weight: 600,
  text-subtitle-line-height: 1.5rem,
  text-subtitle-2-font-family: IRANSansWeb,
  text-subtitle-2-font-size: 0.8125rem,
  text-subtitle-2-font-weight: 600,
  text-subtitle-2-line-height: 1.5rem,
  text-paragraph-font-family: IRANSansWeb,
  text-paragraph-font-size: 0.9375rem,
  text-paragraph-font-weight: 400,
  text-paragraph-line-height: 1.25rem,
  text-paragraph-2-font-family: IRANSansWeb,
  text-paragraph-2-font-size: 0.8125rem,
  text-paragraph-2-font-weight: 400,
  text-paragraph-2-line-height: 1rem,
  text-label-font-family: IRANSansWeb,
  text-label-font-size: 0.75rem,
  text-label-font-weight: 800,
  text-label-line-height: 1rem,
  text-caption-font-family: IRANSansWeb,
  text-caption-font-size: 0.75rem,
  text-caption-font-weight: 400,
  text-caption-line-height: 1rem,
  text-caption-2-font-family: IRANSansWeb,
  text-caption-2-font-size: 0.75rem,
  text-caption-2-font-weight: 600,
  text-caption-2-line-height: 1rem,
  text-button-font-family: IRANSansWeb,
  text-button-font-weight: 800,
  text-button-tiny-font-size: 0.625rem,
  text-button-tiny-line-height: 0.75rem,
  text-button-small-font-size: 0.75rem,
  text-button-small-line-height: 1rem,
  text-button-medium-font-size: 0.875rem,
  text-button-medium-line-height: 1rem,
  text-button-large-font-size: 1rem,
  text-button-large-line-height: 1.25rem,
  text-button-giant-font-size: 1.125rem,
  text-button-giant-line-height: 1.5rem,
  border-radius: 0.25rem,
  outline-width: 0.375rem,
  outline-color: #2e3a59,
  scrollbar-color: #101426,
  scrollbar-background-color: #1a2138,
  scrollbar-width: 0.3125rem,
  shadow: (0 0.5rem 1rem 0 #1a1f33),
  divider-color: #151a30,
  divider-style: solid,
  divider-width: 1px,

  // Loading shit
), siah, default);

$nb-themes: nb-register-theme((
  sidebar-header-gap: 0.65rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  list-item-border-width: 1px,
  slide-out-container-width: 30%,
  slide-out-background: 0 4px 14px 0 #a2d2c8,
  //ecommerce-card-border-width: 1px,
  color-primary-100: #FFEBEE,
  color-primary-200: #FFCDD2,
  color-primary-300: #EF9A9A,
  color-primary-400: #E57373,
  color-primary-500: #EF5350,
  color-primary-600: #F44336,
  color-primary-700: #E53935,
  color-primary-800: #D32F2F,
  color-primary-900: #C62828,
  color-success-100: #FF8A80,
  color-success-200: #FF5252,
  color-success-400: #FF1744,
  color-success-700: #D50000,
  color-info-100: #FFEBEE,
  color-info-200: #EF9A9A,
  color-info-300: #E57373,
  color-info-400: #EF5350,
  color-info-500: #F44336,
  color-info-600: #D32F2F,
  color-info-700: #D32F2F,
  color-info-800: #C62828,
  color-info-900: #B71C1C,
  color-warning-100: #fffdf2,
  color-warning-200: #fff1c2,
  color-warning-300: #ffe59e,
  color-warning-400: #ffc94d,
  color-warning-500: #ffaa00,
  color-warning-600: #db8b00,
  color-warning-700: #b86e00,
  color-warning-800: #945400,
  color-warning-900: #703c00,
  color-danger-100: #fff2f2,
  color-danger-200: #ffd6d9,
  color-danger-300: #ffa8b4,
  color-danger-400: #ff708d,
  color-danger-500: #ff3d71,
  color-danger-600: #db2c66,
  color-danger-700: #b81d5b,
  color-danger-800: #94124e,
  color-danger-900: #700940,
  color-basic-100: #FFEBEE,
  color-basic-200: #FFCDD2,
  color-basic-300: #EF9A9A,
  color-basic-400: #E57373,
  color-basic-500: #F44336,
  color-basic-600: #E53935,
  color-basic-700: #D32F2F,
  color-basic-800: #C62828,
  color-basic-900: #B71C1C,
  color-basic-1000: #4d0000,
  color-basic-1100: #200000,
  color-primary-focus: #FF1744,
  color-primary-hover: #FF5252,
  color-primary-default: #E53935,
  color-primary-active: #FF1744,
  color-primary-disabled: #FF8A80,
  color-success-focus: #880E4F,
  color-success-hover: #AD1457,
  color-success-default: #E91E63,
  color-success-active: #E91E63,
  color-success-disabled: #F8BBD0,
  color-info-focus: #D50000,
  color-info-hover: #FF1744,
  color-info-default: #FF5252,
  color-info-active: #FF1744,
  color-info-disabled: #FF8A80,
  color-warning-focus: #b86e00,
  color-warning-hover: #ffc94d,
  color-warning-default: #ffaa00,
  color-warning-active: #db8b00,
  color-warning-disabled: #ffe59e,
  color-danger-focus: #b81d5b,
  color-danger-hover: #ff708d,
  color-danger-default: #ff3d71,
  color-danger-active: #db2c66,
  color-danger-disabled: #ffa8b4,
  color-basic-focus: #FF1744,
  color-basic-hover: #FF5252,
  color-basic-default: #E53935,
  color-basic-active: #FF1744,
  color-basic-disabled: #FF8A80,

  outline-color: #9b0001,
  scrollbar-color: #260003,
  scrollbar-background-color: #380003,
  shadow: (0 0.5rem 1rem 0 #330005),
  divider-color: rgba(51, 0, 5, 0),

  background-basic-color-1: #FF1744,
  background-basic-color-2: #fdeeff,
  background-basic-color-3: white,
  background-basic-color-4: black,

  background-alternative-color-1: white,
  background-alternative-color-2: blue,
  background-alternative-color-3: yellow,
  background-alternative-color-4: red,

  background-primary-color-1: purple,
  background-primary-color-2: blue,
  background-primary-color-3: yellow,
  background-primary-color-4: red,

  border-primary-color-1: #D32F2F,
  border-primary-color-2: #C62828,
  border-primary-color-3: #B71C1C,
  border-primary-color-4: #FF1744,
  border-primary-color-5: #D50000,
  border-basic-color-1: #B71C1C,
  border-basic-color-2: #C62828,
  border-basic-color-3: #D50000,
  border-basic-color-4: #B71C1C,
  border-basic-color-5: #D50000,
  border-alternative-color-1: #ffffff,
  border-alternative-color-2: #f7f9fc,
  border-alternative-color-3: #edf1f7,
  border-alternative-color-4: #e4e9f2,
  border-alternative-color-5: #c5cee0,

  text-basic-color: #0b0b0b,
  text-alternate-color: #381314,
  text-control-color: #ff5356,
  text-disabled-color: #dca1a6,
  text-hint-color: #E57373,
  text-primary-color: #880000,
  text-primary-focus-color: #FF1744,
  text-primary-hover-color: #FF5252,
  text-primary-active-color: #FF1744,
  text-primary-disabled-color: #FF8A80,
  text-success-color: #00d68f,
  text-success-focus-color: #00997a,
  text-success-hover-color: #2ce69b,
  text-success-active-color: #00b887,
  text-success-disabled-color: #2ce69b,
  text-info-color: #0095ff,
  text-info-focus-color: #0057c2,
  text-info-hover-color: #42aaff,
  text-info-active-color: #006fd6,
  text-info-disabled-color: #42aaff,
  text-warning-color: #ffaa00,
  text-warning-focus-color: #b86e00,
  text-warning-hover-color: #ffc94d,
  text-warning-active-color: #db8b00,
  text-warning-disabled-color: #ffc94d,
  text-danger-color: #ff3d71,
  text-danger-focus-color: #b81d5b,
  text-danger-hover-color: #ff708d,
  text-danger-active-color: #db2c66,
  text-danger-disabled-color: #ff708d,

  font-family-primary: IRANSansWeb,
  font-family-secondary: IRANSansWeb,
  text-heading-1-font-family: IRANSansWeb,
  text-heading-1-font-size: 2.25rem,
  text-heading-1-font-weight: 800,
  text-heading-1-line-height: 3rem,
  text-heading-2-font-family: IRANSansWeb,
  text-heading-2-font-size: 2rem,
  text-heading-2-font-weight: 800,
  text-heading-2-line-height: 2.5rem,
  text-heading-3-font-family: IRANSansWeb,
  text-heading-3-font-size: 1.875rem,
  text-heading-3-font-weight: 800,
  text-heading-3-line-height: 2.5rem,
  text-heading-4-font-family: IRANSansWeb,
  text-heading-4-font-size: 1.625rem,
  text-heading-4-font-weight: 800,
  text-heading-4-line-height: 2rem,
  text-heading-5-font-family: IRANSansWeb,
  text-heading-5-font-size: 1.375rem,
  text-heading-5-font-weight: 800,
  text-heading-5-line-height: 2rem,
  text-heading-6-font-family: IRANSansWeb,
  text-heading-6-font-size: 1.125rem,
  text-heading-6-font-weight: 800,
  text-heading-6-line-height: 1.5rem,
  text-subtitle-font-family: IRANSansWeb,
  text-subtitle-font-size: 0.9375rem,
  text-subtitle-font-weight: 600,
  text-subtitle-line-height: 1.5rem,
  text-subtitle-2-font-family: IRANSansWeb,
  text-subtitle-2-font-size: 0.8125rem,
  text-subtitle-2-font-weight: 600,
  text-subtitle-2-line-height: 1.5rem,
  text-paragraph-font-family: IRANSansWeb,
  text-paragraph-font-size: 0.9375rem,
  text-paragraph-font-weight: 400,
  text-paragraph-line-height: 1.25rem,
  text-paragraph-2-font-family: IRANSansWeb,
  text-paragraph-2-font-size: 0.8125rem,
  text-paragraph-2-font-weight: 400,
  text-paragraph-2-line-height: 1rem,
  text-label-font-family: IRANSansWeb,
  text-label-font-size: 0.75rem,
  text-label-font-weight: 800,
  text-label-line-height: 1rem,
  text-caption-font-family: IRANSansWeb,
  text-caption-font-size: 0.75rem,
  text-caption-font-weight: 400,
  text-caption-line-height: 1rem,
  text-caption-2-font-family: IRANSansWeb,
  text-caption-2-font-size: 0.75rem,
  text-caption-2-font-weight: 600,
  text-caption-2-line-height: 1rem,
  text-button-font-family: IRANSansWeb,
  text-button-font-weight: 800,
  text-button-tiny-font-size: 0.625rem,
  text-button-tiny-line-height: 0.75rem,
  text-button-small-font-size: 0.75rem,
  text-button-small-line-height: 1rem,
  text-button-medium-font-size: 0.875rem,
  text-button-medium-line-height: 1rem,
  text-button-large-font-size: 1rem,
  text-button-large-line-height: 1.25rem,
  text-button-giant-font-size: 1.125rem,
  text-button-giant-line-height: 1.5rem,
  border-radius: 0.25rem,
  outline-width: 0.375rem,
  scrollbar-width: 0.3125rem,
  divider-style: solid,
  divider-width: 1px,

  // Loading shit
), indigoi, default);

//$nb-themes: nb-register-theme((
//  sidebar-header-gap: 0.65rem,
//  sidebar-header-height: initial,
//  layout-content-width: 1400px,
//  list-item-border-width: 1px,
//  slide-out-container-width: 30%,
//  slide-out-background: 0 4px 14px 0 #a2d2c8,
//  //ecommerce-card-border-width: 1px,
//  color-primary-100: #f2f6ff,
//  color-primary-200: #d9e4ff,
//  color-primary-300: #a6c1ff,
//  color-primary-400: #598bff,
//  color-primary-500: #3366ff,
//  color-primary-600: #274bdb,
//  color-primary-700: #1a34b8,
//  color-primary-800: #102694,
//  color-primary-900: #091c7a,
//  color-success-100: #f0fff5,
//  color-success-200: #ccfce3,
//  color-success-300: #8cfac7,
//  color-success-400: #2ce69b,
//  color-success-500: #00d68f,
//  color-success-600: #00b887,
//  color-success-700: #00997a,
//  color-success-800: #007d6c,
//  color-success-900: #004a42,
//  color-info-100: #f2f8ff,
//  color-info-200: #c7e2ff,
//  color-info-300: #94cbff,
//  color-info-400: #42aaff,
//  color-info-500: #0095ff,
//  color-info-600: #006fd6,
//  color-info-700: #0057c2,
//  color-info-800: #0041a8,
//  color-info-900: #002885,
//  color-warning-100: #fffdf2,
//  color-warning-200: #fff1c2,
//  color-warning-300: #ffe59e,
//  color-warning-400: #ffc94d,
//  color-warning-500: #ffaa00,
//  color-warning-600: #db8b00,
//  color-warning-700: #b86e00,
//  color-warning-800: #945400,
//  color-warning-900: #703c00,
//  color-danger-100: #fff2f2,
//  color-danger-200: #ffd6d9,
//  color-danger-300: #ffa8b4,
//  color-danger-400: #ff708d,
//  color-danger-500: #ff3d71,
//  color-danger-600: #db2c66,
//  color-danger-700: #b81d5b,
//  color-danger-800: #94124e,
//  color-danger-900: #700940,
//  color-basic-100: #ffffff,
//  color-basic-200: #f7f9fc,
//  color-basic-300: #edf1f7,
//  color-basic-400: #e4e9f2,
//  color-basic-500: #c5cee0,
//  color-basic-600: #8f9bb3,
//  color-basic-700: #2e3a59,
//  color-basic-800: #222b45,
//  color-basic-900: #1a2138,
//  color-basic-1000: #151a30,
//  color-basic-1100: #101426,
//  color-primary-focus: #1a34b8,
//  color-primary-hover: #598bff,
//  color-primary-default: #3366ff,
//  color-primary-active: #274bdb,
//  color-primary-disabled: #a6c1ff,
//  color-success-focus: #00997a,
//  color-success-hover: #2ce69b,
//  color-success-default: #00d68f,
//  color-success-active: #00b887,
//  color-success-disabled: #ccfce3,
//  color-info-focus: #0057c2,
//  color-info-hover: #42aaff,
//  color-info-default: #0095ff,
//  color-info-active: #006fd6,
//  color-info-disabled: #94cbff,
//  color-warning-focus: #b86e00,
//  color-warning-hover: #ffc94d,
//  color-warning-default: #ffaa00,
//  color-warning-active: #db8b00,
//  color-warning-disabled: #ffe59e,
//  color-danger-focus: #b81d5b,
//  color-danger-hover: #ff708d,
//  color-danger-default: #ff3d71,
//  color-danger-active: #db2c66,
//  color-danger-disabled: #ffa8b4,
//  color-basic-focus: #2e3a59,
//  color-basic-hover: #e4e9f2,
//  color-basic-default: #c5cee0,
//  color-basic-active: #8f9bb3,
//  color-basic-disabled: #edf1f7,
//  background-basic-color-1: #222b45,
//  background-basic-color-2: #1a2138,
//  background-basic-color-3: #151a30,
//  background-basic-color-4: #101426,
//  border-basic-color-1: #222b45,
//  border-basic-color-2: #1a2138,
//  border-basic-color-3: #151a30,
//  border-basic-color-4: #101426,
//  border-basic-color-5: #101426,
//  background-alternative-color-1: #ffffff,
//  background-alternative-color-2: #f7f9fc,
//  background-alternative-color-3: #edf1f7,
//  background-alternative-color-4: #e4e9f2,
//  border-alternative-color-1: #ffffff,
//  border-alternative-color-2: #f7f9fc,
//  border-alternative-color-3: #edf1f7,
//  border-alternative-color-4: #e4e9f2,
//  border-alternative-color-5: #c5cee0,
//  background-primary-color-1: #3366ff,
//  background-primary-color-2: #274bdb,
//  background-primary-color-3: #1a34b8,
//  background-primary-color-4: #102694,
//  border-primary-color-1: #c5cee0,
//  border-primary-color-2: #8f9bb3,
//  border-primary-color-3: #2e3a59,
//  border-primary-color-4: #222b45,
//  border-primary-color-5: #1a2138,
//  text-basic-color: #ffffff,
//  text-alternate-color: #1a2138,
//  text-control-color: #ffffff,
//  text-disabled-color: #2e3a59,
//  text-hint-color: #8f9bb3,
//  text-primary-color: #3366ff,
//  text-primary-focus-color: #1a34b8,
//  text-primary-hover-color: #598bff,
//  text-primary-active-color: #274bdb,
//  text-primary-disabled-color: #598bff,
//  text-success-color: #00d68f,
//  text-success-focus-color: #00997a,
//  text-success-hover-color: #2ce69b,
//  text-success-active-color: #00b887,
//  text-success-disabled-color: #2ce69b,
//  text-info-color: #0095ff,
//  text-info-focus-color: #0057c2,
//  text-info-hover-color: #42aaff,
//  text-info-active-color: #006fd6,
//  text-info-disabled-color: #42aaff,
//  text-warning-color: #ffaa00,
//  text-warning-focus-color: #b86e00,
//  text-warning-hover-color: #ffc94d,
//  text-warning-active-color: #db8b00,
//  text-warning-disabled-color: #ffc94d,
//  text-danger-color: #ff3d71,
//  text-danger-focus-color: #b81d5b,
//  text-danger-hover-color: #ff708d,
//  text-danger-active-color: #db2c66,
//  text-danger-disabled-color: #ff708d,
//  font-family-primary: IRANSansWeb,
//  font-family-secondary: IRANSansWeb,
//  text-heading-1-font-family: IRANSansWeb,
//  text-heading-1-font-size: 2.25rem,
//  text-heading-1-font-weight: 800,
//  text-heading-1-line-height: 3rem,
//  text-heading-2-font-family: IRANSansWeb,
//  text-heading-2-font-size: 2rem,
//  text-heading-2-font-weight: 800,
//  text-heading-2-line-height: 2.5rem,
//  text-heading-3-font-family: IRANSansWeb,
//  text-heading-3-font-size: 1.875rem,
//  text-heading-3-font-weight: 800,
//  text-heading-3-line-height: 2.5rem,
//  text-heading-4-font-family: IRANSansWeb,
//  text-heading-4-font-size: 1.625rem,
//  text-heading-4-font-weight: 800,
//  text-heading-4-line-height: 2rem,
//  text-heading-5-font-family: IRANSansWeb,
//  text-heading-5-font-size: 1.375rem,
//  text-heading-5-font-weight: 800,
//  text-heading-5-line-height: 2rem,
//  text-heading-6-font-family: IRANSansWeb,
//  text-heading-6-font-size: 1.125rem,
//  text-heading-6-font-weight: 800,
//  text-heading-6-line-height: 1.5rem,
//  text-subtitle-font-family: IRANSansWeb,
//  text-subtitle-font-size: 0.9375rem,
//  text-subtitle-font-weight: 600,
//  text-subtitle-line-height: 1.5rem,
//  text-subtitle-2-font-family: IRANSansWeb,
//  text-subtitle-2-font-size: 0.8125rem,
//  text-subtitle-2-font-weight: 600,
//  text-subtitle-2-line-height: 1.5rem,
//  text-paragraph-font-family: IRANSansWeb,
//  text-paragraph-font-size: 0.9375rem,
//  text-paragraph-font-weight: 400,
//  text-paragraph-line-height: 1.25rem,
//  text-paragraph-2-font-family: IRANSansWeb,
//  text-paragraph-2-font-size: 0.8125rem,
//  text-paragraph-2-font-weight: 400,
//  text-paragraph-2-line-height: 1rem,
//  text-label-font-family: IRANSansWeb,
//  text-label-font-size: 0.75rem,
//  text-label-font-weight: 800,
//  text-label-line-height: 1rem,
//  text-caption-font-family: IRANSansWeb,
//  text-caption-font-size: 0.75rem,
//  text-caption-font-weight: 400,
//  text-caption-line-height: 1rem,
//  text-caption-2-font-family: IRANSansWeb,
//  text-caption-2-font-size: 0.75rem,
//  text-caption-2-font-weight: 600,
//  text-caption-2-line-height: 1rem,
//  text-button-font-family: IRANSansWeb,
//  text-button-font-weight: 800,
//  text-button-tiny-font-size: 0.625rem,
//  text-button-tiny-line-height: 0.75rem,
//  text-button-small-font-size: 0.75rem,
//  text-button-small-line-height: 1rem,
//  text-button-medium-font-size: 0.875rem,
//  text-button-medium-line-height: 1rem,
//  text-button-large-font-size: 1rem,
//  text-button-large-line-height: 1.25rem,
//  text-button-giant-font-size: 1.125rem,
//  text-button-giant-line-height: 1.5rem,
//  border-radius: 0.25rem,
//  outline-width: 0.375rem,
//  outline-color: #2e3a59,
//  scrollbar-color: #101426,
//  scrollbar-background-color: #1a2138,
//  scrollbar-width: 0.3125rem,
//  shadow: (0 0.5rem 1rem 0 #1a1f33),
//  divider-color: #151a30,
//  divider-style: solid,
//  divider-width: 1px,
//), cosmic, dark);

//$nb-themes: nb-register-theme((
//  sidebar-header-gap: 0.65rem,
//  sidebar-header-height: initial,
//  layout-content-width: 1400px,
//  list-item-border-width: 1px,
//  slide-out-container-width: 30%,
//  slide-out-background: 0 4px 14px 0 #a2d2c8,
//  //ecommerce-card-border-width: 1px,
//  color-primary-100: #f2f6ff,
//  color-primary-200: #d9e4ff,
//  color-primary-300: #a6c1ff,
//  color-primary-400: #598bff,
//  color-primary-500: #3366ff,
//  color-primary-600: #274bdb,
//  color-primary-700: #1a34b8,
//  color-primary-800: #102694,
//  color-primary-900: #091c7a,
//  color-success-100: #f0fff5,
//  color-success-200: #ccfce3,
//  color-success-300: #8cfac7,
//  color-success-400: #2ce69b,
//  color-success-500: #00d68f,
//  color-success-600: #00b887,
//  color-success-700: #00997a,
//  color-success-800: #007d6c,
//  color-success-900: #004a42,
//  color-info-100: #f2f8ff,
//  color-info-200: #c7e2ff,
//  color-info-300: #94cbff,
//  color-info-400: #42aaff,
//  color-info-500: #0095ff,
//  color-info-600: #006fd6,
//  color-info-700: #0057c2,
//  color-info-800: #0041a8,
//  color-info-900: #002885,
//  color-warning-100: #fffdf2,
//  color-warning-200: #fff1c2,
//  color-warning-300: #ffe59e,
//  color-warning-400: #ffc94d,
//  color-warning-500: #ffaa00,
//  color-warning-600: #db8b00,
//  color-warning-700: #b86e00,
//  color-warning-800: #945400,
//  color-warning-900: #703c00,
//  color-danger-100: #fff2f2,
//  color-danger-200: #ffd6d9,
//  color-danger-300: #ffa8b4,
//  color-danger-400: #ff708d,
//  color-danger-500: #ff3d71,
//  color-danger-600: #db2c66,
//  color-danger-700: #b81d5b,
//  color-danger-800: #94124e,
//  color-danger-900: #700940,
//  color-basic-100: #ffffff,
//  color-basic-200: #f7f9fc,
//  color-basic-300: #edf1f7,
//  color-basic-400: #e4e9f2,
//  color-basic-500: #c5cee0,
//  color-basic-600: #8f9bb3,
//  color-basic-700: #2e3a59,
//  color-basic-800: #222b45,
//  color-basic-900: #1a2138,
//  color-basic-1000: #151a30,
//  color-basic-1100: #101426,
//  color-primary-focus: #1a34b8,
//  color-primary-hover: #598bff,
//  color-primary-default: #3366ff,
//  color-primary-active: #274bdb,
//  color-primary-disabled: #a6c1ff,
//  color-success-focus: #00997a,
//  color-success-hover: #2ce69b,
//  color-success-default: #00d68f,
//  color-success-active: #00b887,
//  color-success-disabled: #ccfce3,
//  color-info-focus: #0057c2,
//  color-info-hover: #42aaff,
//  color-info-default: #0095ff,
//  color-info-active: #006fd6,
//  color-info-disabled: #94cbff,
//  color-warning-focus: #b86e00,
//  color-warning-hover: #ffc94d,
//  color-warning-default: #ffaa00,
//  color-warning-active: #db8b00,
//  color-warning-disabled: #ffe59e,
//  color-danger-focus: #b81d5b,
//  color-danger-hover: #ff708d,
//  color-danger-default: #ff3d71,
//  color-danger-active: #db2c66,
//  color-danger-disabled: #ffa8b4,
//  color-basic-focus: #2e3a59,
//  color-basic-hover: #e4e9f2,
//  color-basic-default: #c5cee0,
//  color-basic-active: #8f9bb3,
//  color-basic-disabled: #edf1f7,
//  background-basic-color-1: #ffffff,
//  background-basic-color-2: #f7f9fc,
//  background-basic-color-3: #edf1f7,
//  background-basic-color-4: #e4e9f2,
//  border-basic-color-1: #ffffff,
//  border-basic-color-2: #f7f9fc,
//  border-basic-color-3: #edf1f7,
//  border-basic-color-4: #e4e9f2,
//  border-basic-color-5: #c5cee0,
//  background-alternative-color-1: #222b45,
//  background-alternative-color-2: #1a2138,
//  background-alternative-color-3: #151a30,
//  background-alternative-color-4: #101426,
//  border-alternative-color-1: #222b45,
//  border-alternative-color-2: #1a2138,
//  border-alternative-color-3: #151a30,
//  border-alternative-color-4: #101426,
//  border-alternative-color-5: #101426,
//  background-primary-color-1: #3366ff,
//  background-primary-color-2: #274bdb,
//  background-primary-color-3: #1a34b8,
//  background-primary-color-4: #102694,
//  border-primary-color-1: #c5cee0,
//  border-primary-color-2: #8f9bb3,
//  border-primary-color-3: #2e3a59,
//  border-primary-color-4: #222b45,
//  border-primary-color-5: #1a2138,
//  text-basic-color: #1a2138,
//  text-alternate-color: #ffffff,
//  text-control-color: #ffffff,
//  text-disabled-color: #c5cee0,
//  text-hint-color: #8f9bb3,
//  text-primary-color: #3366ff,
//  text-primary-focus-color: #1a34b8,
//  text-primary-hover-color: #598bff,
//  text-primary-active-color: #274bdb,
//  text-primary-disabled-color: #598bff,
//  text-success-color: #00d68f,
//  text-success-focus-color: #00997a,
//  text-success-hover-color: #2ce69b,
//  text-success-active-color: #00b887,
//  text-success-disabled-color: #2ce69b,
//  text-info-color: #0095ff,
//  text-info-focus-color: #0057c2,
//  text-info-hover-color: #42aaff,
//  text-info-active-color: #006fd6,
//  text-info-disabled-color: #42aaff,
//  text-warning-color: #ffaa00,
//  text-warning-focus-color: #b86e00,
//  text-warning-hover-color: #ffc94d,
//  text-warning-active-color: #db8b00,
//  text-warning-disabled-color: #ffc94d,
//  text-danger-color: #ff3d71,
//  text-danger-focus-color: #b81d5b,
//  text-danger-hover-color: #ff708d,
//  text-danger-active-color: #db2c66,
//  text-danger-disabled-color: #ff708d,
//  font-family-primary: IRANSansWeb,
//  font-family-secondary: IRANSansWeb,
//  text-heading-1-font-family: IRANSansWeb,
//  text-heading-1-font-size: 2.25rem,
//  text-heading-1-font-weight: 800,
//  text-heading-1-line-height: 3rem,
//  text-heading-2-font-family: IRANSansWeb,
//  text-heading-2-font-size: 2rem,
//  text-heading-2-font-weight: 800,
//  text-heading-2-line-height: 2.5rem,
//  text-heading-3-font-family: IRANSansWeb,
//  text-heading-3-font-size: 1.875rem,
//  text-heading-3-font-weight: 800,
//  text-heading-3-line-height: 2.5rem,
//  text-heading-4-font-family: IRANSansWeb,
//  text-heading-4-font-size: 1.625rem,
//  text-heading-4-font-weight: 800,
//  text-heading-4-line-height: 2rem,
//  text-heading-5-font-family: IRANSansWeb,
//  text-heading-5-font-size: 1.375rem,
//  text-heading-5-font-weight: 800,
//  text-heading-5-line-height: 2rem,
//  text-heading-6-font-family: IRANSansWeb,
//  text-heading-6-font-size: 1.125rem,
//  text-heading-6-font-weight: 800,
//  text-heading-6-line-height: 1.5rem,
//  text-subtitle-font-family: IRANSansWeb,
//  text-subtitle-font-size: 0.9375rem,
//  text-subtitle-font-weight: 600,
//  text-subtitle-line-height: 1.5rem,
//  text-subtitle-2-font-family: IRANSansWeb,
//  text-subtitle-2-font-size: 0.8125rem,
//  text-subtitle-2-font-weight: 600,
//  text-subtitle-2-line-height: 1.5rem,
//  text-paragraph-font-family: IRANSansWeb,
//  text-paragraph-font-size: 0.9375rem,
//  text-paragraph-font-weight: 400,
//  text-paragraph-line-height: 1.25rem,
//  text-paragraph-2-font-family: IRANSansWeb,
//  text-paragraph-2-font-size: 0.8125rem,
//  text-paragraph-2-font-weight: 400,
//  text-paragraph-2-line-height: 1rem,
//  text-label-font-family: IRANSansWeb,
//  text-label-font-size: 0.75rem,
//  text-label-font-weight: 800,
//  text-label-line-height: 1rem,
//  text-caption-font-family: IRANSansWeb,
//  text-caption-font-size: 0.75rem,
//  text-caption-font-weight: 400,
//  text-caption-line-height: 1rem,
//  text-caption-2-font-family: IRANSansWeb,
//  text-caption-2-font-size: 0.75rem,
//  text-caption-2-font-weight: 600,
//  text-caption-2-line-height: 1rem,
//  text-button-font-family: IRANSansWeb,
//  text-button-font-weight: 800,
//  text-button-tiny-font-size: 0.625rem,
//  text-button-tiny-line-height: 0.75rem,
//  text-button-small-font-size: 0.75rem,
//  text-button-small-line-height: 1rem,
//  text-button-medium-font-size: 0.875rem,
//  text-button-medium-line-height: 1rem,
//  text-button-large-font-size: 1rem,
//  text-button-large-line-height: 1.25rem,
//  text-button-giant-font-size: 1.125rem,
//  text-button-giant-line-height: 1.5rem,
//  border-radius: 0.17rem,
//  outline-width: 0.375rem,
//  outline-color: #e4e9f2,
//  scrollbar-color: #e4e9f2,
//  scrollbar-background-color: #f7f9fc,
//  scrollbar-width: 0.3125rem,
//  shadow: none,
//  divider-color: #edf1f7,
//  divider-style: solid,
//  divider-width: 1px,
//  button-hero-glow-size: (0 0 20px 0),
//  card-border-width: 1px,
//  card-border-color: #e4e9f2,
//  context-menu-border-width: 1px,
//  context-menu-border-color: #e4e9f2,
//  tabs-selected: #3366ff,
//  tabs-selected-second-color: #3366ff,
//  popover-border-width: 1px,
//  popover-border-color: #e4e9f2,
//  tabset-border-radius: 0.17rem,
//  route-tabset-border-radius: 0.17rem,
//  user-rectangle-border-radius: 0.17rem,
//  checkbox-border-radius: 0.17rem,
//  modal-border-radius: 0.17rem,
//  tabset-shadow: none,
//  route-tabset-shadow: none,
//  button-hero-shadow: none,
//  alert-shadow: none,
//  accordion-shadow: none,
//  select-options-list-border-width: 0.0625rem,
//  select-options-list-border-color: #edf1f7,
//), corporate, corporate);


