<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <nb-card>
        <nb-card-body>
          <label for="cmt"> اقدامات مجری: </label>
          <textarea
            name="cmt"
            id="cmt"
            rows="7"
            nbInput
            fullWidth
            readonly
            [value]="executorActions"
          ></textarea>
        </nb-card-body>
      </nb-card>
      <nb-card *ngIf="className=='ResultSafetyAndLeakInspection'">
        <nb-card-header>
          مستندات آپلود شده:
        </nb-card-header>
        <nb-card-body>

          <DocumentsUploaded
          [id]="executerSubmitId.toString()"
          [type]="'SafetyAndLeakInspectionExecuterResult'"

        ></DocumentsUploaded>
        </nb-card-body>
      </nb-card>
      <nb-card class="mb-0">
        <nb-card-header>
          نتیجه بازرسی
        </nb-card-header>

        <nb-card-body class="p-0">
          <div class="col-lg-12 col-md-12 col-sm-12 form-inline form-hanging">
            <label class="pr-4">
              <span class="text-danger font-weight-bold ml-1">*</span>
              نتیجه</label
            >
            <nb-radio-group
              class="form-inline radio-x-inline mr-5"
              formControlName="result"
              id="result"
              name="result"
            >
              <nb-radio value="0">
                تأیید
              </nb-radio>
              <nb-radio value="1">
                عدم تأیید
              </nb-radio>
            </nb-radio-group>

            <div *ngIf="isSubmitted">
              <div *ngFor="let validation of INPUT_VALIDATION_MESSAGES.result">
                <span
                  class="text-danger"
                  *ngIf="form.controls.result.value === ''"
                  >{{ validation.message }}</span
                >
              </div>
            </div>
          </div>

          <!-- <div
            class="col-lg-12 col-md-12 col-sm-12 form-inline form-hanging"
          >
            <label class="pr-4">
              <span class="text-danger font-weight-bold ml-1">*</span>
             تفکیک کنتور</label
            >
            <nb-radio-group
              class="form-inline radio-x-inline mr-5"
              formControlName="meterSeparationSafety"
              id="meterSeparationSafety"
              name="meterSeparationSafety"
            >
              <nb-radio value="0">
                تأیید
              </nb-radio>
              <nb-radio value="1">
                عدم تأیید
              </nb-radio>
            </nb-radio-group>

            <div *ngIf="isSubmitted">
              <div
                *ngFor="
                  let validation of INPUT_VALIDATION_MESSAGES.meterSeparationSafety
                "
              >
                <span
                  class="text-danger"
                  *ngIf="form.controls.meterSeparationSafety.value === ''"
                  >{{ validation.message }}</span
                >
              </div>
            </div>


          </div> -->

          <nb-card>
            <nb-card-body>
              <label for="cmt"> شرح: </label>
              <textarea
                name="cmt"
                id="cmt"
                rows="7"
                nbInput
                fullWidth
                formControlName="comment"
              ></textarea>
            </nb-card-body>
          </nb-card>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-body>
          <div class="row" style="text-align: left; direction: ltr;">
            <div class="col-sm-2 col-md-2 col-lg-2 p-1">
              <button
                *ngIf="className === 'ResultSafetyAndLeakInspection'"
                type="button"
                nbButton
                status="warning"
                class="btn btn-block"
                [routerLink]="['/pages/forms/PeriodicVisitsList']"
                [disabled]="loading"
              >
                بازگشت به لیست
              </button>
              <button
                *ngIf="className !== 'ResultSafetyAndLeakInspection'"
                type="button"
                nbButton
                status="warning"
                class="btn btn-block"
                [routerLink]="['/pages/forms/GasReqList']"
                [disabled]="loading"
              >
                بازگشت به لیست
              </button>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 p-1">
              <button
                [nbSpinner]="loading"
                nbSpinnerStatus="info"
                nbSpinnerSize="large"
                class="btn"
                nbButton
                status="success"
                style="width: 100%;"
                type="submit"
                [disabled]="!form.valid || loading"
              >
                ثبت
              </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
</div>
