
<button
title="حذف"
size="tiny"
class="mb-2 mr-1"
nbButton
status="danger"
*appHasNoRole="['Shahrsazi']"
(click)="onDelete(rData)"
>
<nb-icon
  [options]="{ animation: { type: 'zoom' } }"
  class="icon-button"
  icon="close-outline"
>
</nb-icon>
</button>

<!-- <nb-select placeholder="انتخاب عملیات" *ngIf="rData.isPaidTo === false">
  <nb-option>
      <button
        fullWidth
        nbButton
        status="success"
        (click)="onConfirmPayment(rData.id)"
      >
          تأیید پرداخت به مهندسان
      </button>
  </nb-option>
</nb-select> -->


