<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <nb-card>
      <nb-card-header>ثبت اطلاعات نواحی گاز رسانی</nb-card-header>
      <nb-card-body>
        <nb-card><nb-card-body>
        <div class="form-inline col-lg-12 col-md-12 col-sm-12">
        <div style="margin-bottom: 0.75rem;" class="input-group col-lg-6 col-md-6 col-sm-6">
          <input
            [(ngModel)]="areaName"
            placeholder="نام ناحیه"
            id="area"
            nbInput
            fullWidth
            type="text">
        </div>
        <div style="margin-bottom: 0.75rem;" class="input-group col-lg-6 col-md-6 col-sm-6">
          <nb-select
            [(ngModel)]="areaIngredients"
            multiple
            style="width: 100%;"
            placeholder="انتخاب مناطق موجود در این ناحیه">
            <nb-option-group title="شیراز">
              <nb-option value="1">ناحیه یک</nb-option>
            </nb-option-group>
            <nb-option-group title="مرودشت">
              <nb-option value="2">روستای مرودشت</nb-option>
            </nb-option-group>
          </nb-select>
        </div>
        </div>
        </nb-card-body></nb-card>
        <div class="btn-group col-lg-12 col-md-12 col-sm-12">
          <button
            nbButton
            status="success"
            (click)="onFetchData()"
            style="width: 100%;"
            class="btn">
            ثبت اطلاعات
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
