.alert-info {
    padding-top: .41rem;
    padding-bottom: .41rem;

    nb-icon {
      position: relative;
      top: 1px;
      right: 3px;
    }
}

.addToList-wrapper {
  position: relative;
  left: -15px;
}
