<nb-card id="serachCard" style="box-shadow: 0 0 4px;" class="pb-0">
  <nb-card-body>
    <!-- <div class="container"> -->
    <form class="form-inline" (ngSubmit)="onSerach()" [formGroup]="form">
      <div class="row w-100">
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <label for="tableName">
            IPکاربر :
          </label>
          <input formControlName="userIP" fullWidth nbInput />
        </div>

        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <label for="tableId">
            نام کاربر:
          </label>

          <input
            formControlName="userFirstName"
            size="small"
            fullWidth
            id="tableId"
            nbInput
          />
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <label for="tableId">
            نام خانوادگی کاربر:
          </label>

          <input
            formControlName="userLastName"
            size="small"
            fullWidth
            id="UserLastName"
            nbInput
          />
        </div>
      </div>

      <div class="row w-100 mb-0 mt-2">
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-4">
          <label for="tableId">
            نتیجه ورود :
          </label>
          <nb-select
            #isSuccess
            formControlName="isSuccess"
            id="city"
            placeholder="انتخاب عملیات"
          >
            <nb-option [value]="true">
              موفق
            </nb-option>
            <nb-option [value]="false">
              ناموفق
            </nb-option>
          </nb-select>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <label for="fromDateStart">
            تاریخ شروع :
          </label>

          <dp-date-picker
            name="ds"
            id="ds"
            nbInput
            dir="rtl"
            mode="day"
            theme="dp-material"
            formControlName="startDate"
            [config]="datePickerConfig"
            (open)="openFromStartDayPicker()"
            (close)="closeFromStartDayPicker()"
          ></dp-date-picker>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <label for="fromDateStart">
            تاریخ پایان :
          </label>

          <dp-date-picker
            name="de"
            id="de"
            nbInput
            dir="rtl"
            mode="day"
            theme="dp-material"
            formControlName="endDate"
            [config]="datePickerConfig"
            (open)="openFromEndtDayPicker()"
            (close)="closeFromEndtDayPicker()"
          ></dp-date-picker>
        </div>
      </div>
      <div class="row w-100 mt-3">
        <div
          class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-12"
          style="margin-bottom: -40px; margin-top: -31px;"
        >
          <button
            nbTooltip="جستجو"
            nbTooltipPlacement="top"
            nbButton
            hero
            size="tiny"
            status="info"
            type="submit"
            class="ml-1"
            style="margin-top: 15px;"
          >
            <nb-icon
              [options]="{ animation: { type: 'pulse' } }"
              class="icon-button"
              icon="search-outline"
            >
            </nb-icon>
          </button>

          <button
            nbTooltip="بازسازی"
            nbTooltipPlacement="top"
            size="tiny"
            nbButton
            hero
            status="primary"
            type="button"
            (click)="resetFilters()"
            style="margin-top: 15px;"
          >
            <nb-icon
              [options]="{ animation: { type: 'pulse' } }"
              class="icon-button"
              icon="refresh-outline"
            >
            </nb-icon>
          </button>
        </div>
      </div>
    </form>
    <br />

    <!-- </div> -->
  </nb-card-body>
</nb-card>

<nb-card class="table-x-mine" style="box-shadow: 0 0 4px;">
  <nb-card-header class="pt-4" style="border-bottom: 0;"
    ><span class="ml-1"> کارتابل مدیریت</span>
    <nb-icon
      [options]="{ animation: { type: 'pulse' } }"
      class="icon-button"
      icon="arrow-ios-back-outline"
    >
    </nb-icon>

    <span class="mr-1" style="color: #3366ff;">سوابق ورود</span>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source | paginate: pagingConfig"
      (custom)="onCustom($event)"
      style="direction: ltr;"
    ></ng2-smart-table>

    <span *ngFor="let item of collection | paginate: pagingConfig"></span>

    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="input-group">
            <div
              class="col-lg-3 col-md-3 col-sm-6 col-xs-6 form-inline pull-left"
            >
              <label for="pageSize" style="margin-left: 0.45rem;">
                تعداد رکورد:
              </label>
              <nb-select
                status="info"
                #pageSizeSelect
                class="pageSizeSelect"
                (selectedChange)="changePageSize(pageSizeSelect.selected)"
                id="pageSize"
                placeholder="انتخاب ..."
              >
                <nb-option *ngFor="let p of pageSizes" [value]="p.id">
                  {{ p.display }}
                </nb-option>
              </nb-select>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="d-flex justify-content-center">
                <pagination-controls
                  class="pagination"
                  (pageChange)="pageChanged($event)"
                  previousLabel=""
                  nextLabel=""
                >
                </pagination-controls>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-3 col-sm-6 col-xs-6 form-inline pull-right"
            >
              <label for="pageNumber" style="margin-left: 0.45rem;">
                شماره صفحه:
              </label>
              <input
                style="width: 30%;"
                #pageNumber
                size="tiny"
                id="pageNumber"
                nbInput
                type="number"
                min="1"
                max="pagination.totalPages"
                (keydown.enter)="pageChanged(pageNumber.value)"
              />
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>

<!-- <ng-template #dialog let-data let-ref="dialogRef">
  <nb-card status="danger" accent="danger">
    <nb-card-header><h4 style="color: linen">هشدار</h4></nb-card-header>
    <nb-card-body><h6>آیا از حذف مورد اطمینان دارید؟</h6></nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-sm-6">
          <button
            fullWidth
            nbButton
            hero
            status="danger"
            (click)="confirmDelete(data)"
          >
            بلی
          </button>
        </div>
        <div class="col-sm-6">
          <button
            fullWidth
            nbButton
            hero
            status="primary"
            (click)="dialogRef.close()"
          >
            انصراف
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template> -->
