<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 form-inline">
    <div class="col-md-12">
      <nb-card [ngClass]="firstTime == true ? '' : 'center'">
        <nb-card-header class="card-header-title"
          >تغییر رمز عبور
        </nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="register()" [formGroup]="userRegisterDto">
            <nb-card>
              <nb-card-body>
                <div name="NationalID">
                  <label class="input-label" for="username">
                    رمز جدید
                  </label>
                  <input
                    [status]="
                      userRegisterDto.get('password').touched ||
                      userRegisterDto.get('password').dirty
                        ? userRegisterDto.get('password').invalid
                          ? 'danger'
                          : 'success'
                        : ''
                    "
                    formControlName="password"
                    fullWidth
                    nbInput
                    type="password"
                    placeholder="رمز جدید"
                  />

                  <div
                    *ngFor="
                      let validation of login_validation_messages.password
                    "
                  >
                    <span
                      class="text-danger"
                      *ngIf="
                        userRegisterDto
                          .get('password')
                          .hasError(validation.type) &&
                        (userRegisterDto.get('password').dirty ||
                          userRegisterDto.get('password').touched)
                      "
                      >{{ validation.message }}</span
                    >
                  </div>
                </div>

                <div name="PhoneNumber" class="inline-input">
                  <label class="input-label" for="mn">
                    تکرار رمز عبور
                  </label>
                  <input
                    [status]="
                      userRegisterDto.get('confirmPassword').touched ||
                      userRegisterDto.get('confirmPassword').dirty
                        ? userRegisterDto.get('confirmPassword').invalid
                          ? 'danger'
                          : 'success'
                        : ''
                    "
                    formControlName="confirmPassword"
                    fullWidth
                    nbInput
                    placeholder="تکرار رمز عبور"
                    name="confirmPassword"

                    id="confirmPassword"
                   type="password"
                  />

                  <div
                    *ngFor="
                      let validation of login_validation_messages.confirmPassword
                    "
                  >
                    <span
                      class="text-danger"
                      *ngIf="
                        userRegisterDto
                          .get('confirmPassword')
                          .hasError(validation.type) &&
                        (userRegisterDto.get('confirmPassword').dirty ||
                          userRegisterDto.get('confirmPassword').touched)
                      "
                      >{{ validation.message }}</span
                    >
                  </div>
                </div>

                <div class="col-md-12 btn-group-inline">
                  <button
                    [disabled]="userRegisterDto.invalid"
                    class="btn half-width-btn"
                    nbButton
                    status="success"
                    type="submit"
                  >
                    ثبت
                  </button>

                  <button
                    (click)="onCancel()"
                    class="btn half-width-btn"
                    nbButton
                    status="danger"
                    type="button"
                  >
                    انصراف
                  </button>
                </div>
              </nb-card-body>
            </nb-card>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
