<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <nb-card style="box-shadow:0 0 4px">
      <!-- <nb-card-header > مدیریت انشعاب های گاز </nb-card-header> -->
      <nb-card-body>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="input-group">
            <div class="col-lg-3 col-md-3 col-sm-3 ">
              <label> <strong> شماره طبقه : </strong> &nbsp;</label>
              <!-- <div class="form-group">
                            <input fullWidth type="text" readonly nbInput value="{{info?.floorNumber}}">
                        </div> -->
              <label>
                {{ info?.floorNumber }}
              </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 ">
              <label> <strong> شماره واحد : </strong> &nbsp;</label>
              <!-- <div class="form-group">
                            <input fullWidth type="text" readonly nbInput value="{{info?.lastStateType}}">
                        </div> -->
              <label>
                {{ info?.unitNumber }}
              </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <label> <strong> زیربنا : </strong> &nbsp;</label>
              <!-- <div class="form-group">
                            <input fullWidth type="text" readonly nbInput value="{{info?.fondation}}">
                        </div> -->
              <label>
                {{ info?.fondation }}
              </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label> <strong> نام مجری : </strong> &nbsp;</label>
                <!-- <div class="form-group">
                              <input fullWidth type="text" readonly nbInput value="{{info?.lastStateType}}">
                          </div> -->
                <label>
                  {{ info?.executerFullName }}
                </label>
              </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="input-group" style="margin-bottom: 0 !important;">
           
              <div class="col-lg-3 col-md-3 col-sm-3 ">
                  <label> <strong> شماره پرونده : </strong> &nbsp;</label>
                  <!-- <div class="form-group">
                                  <input fullWidth type="text" readonly nbInput value="{{info?.lastStateType}}">
                              </div> -->
                  <label>
                    {{ info?.fileNumber }}
                  </label>
                </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <label> <strong> آخرین وضعیت : </strong> &nbsp;</label>
              <!-- <div class="form-group">
                            <input fullWidth type="text" readonly nbInput value="{{info?.lastStateType}}">
                        </div> -->
              <label>
                {{ info?.lastStateType }}
              </label>
            </div>

            <!-- <div style="clear: both"></div> -->
          

            <div class="col-lg-3 col-md-3 col-sm-3 pr-2">
                <button
                class="btn btn-link pr-0"
                style="text-decoration: none"
                (click)="onShowDetailUnit()"
              >
                <nb-icon
                  [options]="{ animation: { type: 'pulse' } }"
                  class="icon-button"
                  icon="eye-outline"
                >
                </nb-icon>
                مشاهده جزئیات بیشتر
              </button>
              </div>

          </div>
        </div>

        <!-- <div style="clear: both"></div>
        <div style="float: left;">
          <button
            class="btn btn-link"
            style="text-decoration: none"
            (click)="onShowDetailUnit()"
          >
            <nb-icon
              [options]="{ animation: { type: 'pulse' } }"
              class="icon-button"
              icon="eye-outline"
            >
            </nb-icon>
            مشاهده جزئیات بیشتر
          </button>
        </div> -->
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #contentUnitDetailTemplate let-data>
  <app-recordMapInformationDetail
    [rowContractId]="contractId"
    [requestUnitId]="info?.requestUnitId"
  ></app-recordMapInformationDetail>
</ng-template>
