<app-gasRequestDetailBox [contractId]="contractId" *ngIf="contractId > 0"></app-gasRequestDetailBox>
<app-gasRequestDetailBox [gasRequestId]="gasReqId" *ngIf="gasReqId > 0"></app-gasRequestDetailBox>
<nb-card id="serachCard" style="box-shadow: 0 0 4px" *appHasNoRole="['Pishkhan']">
  <nb-card-body>
    <div class="container">
      <form class="form-inline" (ngSubmit)="onSerach()" [formGroup]="form">
        <ul>
          <div *ngFor="let validation of INPUT_VALIDATION_MESSAGES.floorNumber">
            <li *ngIf="
                form.get('floorNumber').hasError(validation.type) &&
                (form.get('floorNumber').dirty ||
                  form.get('floorNumber').touched)
              ">
              <span class="text-danger"> {{ validation.message }}</span>
            </li>
          </div>

          <div *ngFor="let validation of INPUT_VALIDATION_MESSAGES.fondation">
            <li *ngIf="
                form.get('fondation').hasError(validation.type) &&
                (form.get('fondation').dirty || form.get('fondation').touched)
              ">
              <span class="text-danger"> {{ validation.message }}</span>
            </li>
          </div>
        </ul>

        <div class="row">
          <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-3">
            <label for="floorNumber">شماره طبقه:</label>
            <input size="small" formControlName="floorNumber" fullWidth id="floorNumber" nbInput min="0"
              type="number" />
          </div>

          <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-3">
            <label for="fondation">
              زیربنا:
            </label>
            <input formControlName="fondation" size="small" fullWidth id="fondation" nbInput type="number" min="0" />
          </div>

          <div class="form-group mt-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label for="fileNumber">
              شماره پرونده:
            </label>
            <input formControlName="fileNumber" type="text" size="small" fullWidth id="fileNumber" nbInput />
          </div>

          <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12 float-right pr-0">
            <button nbTooltip="جستجو" nbTooltipPlacement="top" nbButton hero size="tiny" status="info" type="submit"
              class="ml-1" style="margin-top:42px">
              <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="search-outline">
              </nb-icon>
            </button>

            <button nbTooltip="بازسازی" nbTooltipPlacement="top" size="tiny" nbButton hero status="primary"
              type="button" (click)="resetFilters()" style="margin-top:42px">
              <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="refresh-outline">
              </nb-icon>
            </button>
          </div>
        </div>
      </form>
      <br />
    </div>
  </nb-card-body>
</nb-card>

<nb-card class="table-x-mine" style="box-shadow: 0 0 4px">
  <nb-card-header class="pt-4" style="border-bottom: 0">
    <div class="pull-right pt-2">
      <span class="pl-1">کارتابل ورودی</span>
      <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="arrow-ios-back-outline">
      </nb-icon>
      املاک
      <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="arrow-ios-back-outline">
      </nb-icon>
      <span style="color:#3366ff">واحدها</span>
    </div>
    <div class="pull-left">
      <button *appHasRole="['Admin', 'Executor', 'GasEmployee']" [disabled]="selectedPay.length === 0 " [ngStyle]="{
          cursor: selectedPay.length === 0 || !hasSamePay ? 'not-allowed' : 'pointer'
        }" class="btn btn-info ml-2" style="color:#fff" (click)="totalPay($event)">
        <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="credit-card-outline">
        </nb-icon>
        پرداخت جمعی
      </button>
      
      <!-- cursor: unitCount <= pagination.totalItems ? 'not-allowed' : 'pointer'  -->
      <button *appHasRole="['Executor']" class="btn btn-info" style="color:#fff" [routerLink]="[path]"
        [disabled]="canExecuterAddNewUnit==false " [ngStyle]="{
          cursor: canExecuterAddNewUnit==false ? 'not-allowed' : 'pointer' 
        }">
        <nb-icon [options]="{ animation: { type: 'pulse' } }" class="icon-button" icon="home-outline">
        </nb-icon>
        ثبت واحد جدید
      </button>
    </div>
    <div class="clearfix"></div>
  </nb-card-header>
  <nb-card-body>
    <div class="table-wrapper">
      <ng2-smart-table [settings]="settings" [source]="source | paginate: pagingConfig" (custom)="onCustom($event)"
        style="direction:ltr"></ng2-smart-table>
    </div>

    <span *ngFor="let item of collection | paginate: pagingConfig"></span>

    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="input-group">
            <div
              class="col-lg-3 col-md-3 col-sm-6 col-xs-6 form-inline pull-right"
            >
              <label for="pageSize" style="margin-left: 0;">
                رکورد صفحه:
              </label>
              <nb-select
                status="info"

                #pageSizeSelect
                class="pageSizeSelect"
                [selected]="pagination.itemsPerPage"
                (selectedChange)="changePageSize(pageSizeSelect.selected)"
                id="pageSize"
                placeholder="انتخاب ..."
              >
                <nb-option *ngFor="let p of pageSizes" [value]="p.id">
                  {{ p.display }}
                </nb-option>
              </nb-select>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mt-2 ">
              <div class="d-flex justify-content-center">
                <pagination-controls
                  class="pagination"
                  (pageChange)="pageChanged($event)"
                  previousLabel=""
                  nextLabel=""
                >
                </pagination-controls>
              </div>
            </div>
            <!-- <div
              class="col-lg-2 col-md-2 col-sm-6 col-xs-6 form-inline pull-left"
            >
              <label for="pageSize" style="margin-left: 0.45rem;">
                تعداد رکورد:{{ pagination.totalItems }}
              </label>
            </div> -->
            <div
            style="padding-right: 7% !important;"
              class="col-lg-4 col-md-4 col-sm-6 col-xs-6 form-inline pull-left"
            >
              <label for="pageNumber" style="margin-left: 0.45rem;">
                صفحه:
              </label>
              <input
                [value]="pagination.currentPage"
                style="width: 30%;"
                #pageNumber
                size="tiny"
                id="pageNumber"
                nbInput
                type="number"
                min="1"
                max="pagination.totalPages"
                (keydown.enter)="pageChanged(pageNumber.value)"
              />
              <span> از {{ pagination.totalItems }} نتیجه</span>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card status="danger" accent="danger">
    <nb-card-header>
      <h4 style="color: linen">هشدار</h4>
    </nb-card-header>
    <nb-card-body>
      <h6>آیا از حذف مورد اطمینان دارید؟</h6>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-sm-6">
          <button fullWidth nbButton hero status="danger" (click)="confirmDelete(data)">
            بلی
          </button>
        </div>
        <div class="col-sm-6">
          <button fullWidth nbButton hero status="primary" (click)="dialogRef.close()">
            انصراف
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogRejectRecord let-data let-ref="dialogRefRejectRecord">
  <nb-card status="danger" accent="danger">
    <nb-card-header>
      <h4 style="color: linen">هشدار</h4>
    </nb-card-header>
    <nb-card-body>
      <h6>آیا از انصراف بازرسی اطمینان دارید؟</h6>
    </nb-card-body>
    <nb-card-footer>
      <form [formGroup]="formRejection">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label for="reason">
              <span class="text-danger font-weight-bold ml-1">*</span>

              توضیحات</label>
            <textarea formControlName="reason" fullWidth id="reason" nbInput placeholder="توضیحات" rows="5"></textarea>

            <div *ngFor="let validation of INPUT_VALIDATION_MESSAGES.reason">
              <span class="text-danger" *ngIf="
                  isSubmittedFormRejection &&
                  formRejection.get('reason').hasError(validation.type) &&
                  (formRejection.get('reason').dirty ||
                    formRejection.get('reason').touched)
                ">{{ validation.message }}</span>
            </div>
          </div>

          <div class="col-sm-6">
            <button [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large"
              [disabled]="loading || !formRejection.valid" type="submit" fullWidth nbButton hero status="danger"
              (click)="confirmRejectRecord(data)">
              بلی
            </button>
          </div>
          <div class="col-sm-6">
            <button fullWidth nbButton hero status="primary" (click)="dialogRefRejectRecord.close()">
              خیر
            </button>
          </div>
        </div>
      </form>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #moreThanOneContract let-data let-ref="moreThanOneContractRef">
  <nb-card status="danger" accent="danger">
    <nb-card-header>
      <h4 style="color: linen">هشدار</h4>
    </nb-card-header>
    <nb-card-body>
      <h6>این ملک بیشتر از یک قرارداد دارد ؟</h6>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-sm-6">
          <button fullWidth nbButton hero status="danger" (click)="totalPayWithContracts($event)">
            ادامه میدهم
          </button>
        </div>
        <div class="col-sm-6">
          <button fullWidth nbButton hero status="primary" (click)="moreThanOneContractRef.close()">
            انصراف
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>



<ng-template #endOrBlockRequest let-data let-ref="dialogEndOrBlockRef">
  <nb-card size="medium" status="danger" accent="danger">
    <nb-card-header>
      <h6 style="color: linen">
        غیر فعال سازی پرونده شماره {{ data.fileNumber }}
      </h6>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <form
            [formGroup]="formEndOrBlockRequest"
            (ngSubmit)="endOrBlockRequestConfirm(data.entityId)"
          >
            <nb-card>
              <nb-card-body>
                <div class="row">
                  <div class="col-sm-4 mt-2">
                    <span style="display: inline-block">
                      <span class="text-danger font-weight-bold">*</span>
                      نوع:
                    </span>
                  </div>

                  <div class="col-sm-8">
                    <nb-radio-group
                      class="form-inline radio-x-inline"
                      formControlName="closingType"
                      id="closingType"
                      name="closingType"
                    >
                      >
                      <nb-radio value="1"> انسداد </nb-radio>
                      <nb-radio value="2"> اختتام </nb-radio>
                    </nb-radio-group>

                    <div *ngIf="isSubmitedEndOrBlockRequest">
                      <div
                        *ngFor="
                          let validation of INPUT_VALIDATION_MESSAGES_EndOrBlockRequest.closingType
                        "
                      >
                        <span
                          class="text-danger"
                          *ngIf="
                            formEndOrBlockRequest
                              .get('closingType')
                              .hasError(validation.type)
                          "
                          >{{ validation.message }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-2 mb-3 mb-0">
                  <div class="col-sm-4 mt-2">
                    <span style="display: inline-block">
                      <span class="text-danger font-weight-bold">*</span>
                      توضیحات:
                    </span>
                  </div>

                  <div class="col-sm-8">
                    <textarea
                      formControlName="comment"
                      fullWidth
                      id="comment"
                      nbInput
                      placeholder="توضیحات"
                      rows="5"
                    ></textarea>

                    <div
                      *ngFor="
                        let validation of INPUT_VALIDATION_MESSAGES_EndOrBlockRequest.comment
                      "
                    >
                      <span
                        class="text-danger"
                        *ngIf="
                          formEndOrBlockRequest
                            .get('comment')
                            .hasError(validation.type) &&
                          (formEndOrBlockRequest.get('comment').dirty ||
                            formEndOrBlockRequest.get('comment').touched ||
                            isSubmitedEndOrBlockRequest)
                        "
                        >{{ validation.message }}</span
                      >
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card-footer>
              <div class="row">
                <div class="col-sm-6 pl-1">
                  <button
                    [nbSpinner]="endOrBlockRequestLoading"
                    [disabled]="endOrBlockRequestLoading"
                    nbSpinnerStatus="info"
                    nbSpinnerSize="large"
                    fullWidth
                    nbButton
                    hero
                    status="success"
                    type="submit"
                  >
                    غیر فعال سازی
                  </button>
                </div>
                <div class="col-sm-6 pr-1">
                  <button
                    [disabled]="endOrBlockRequestLoading"
                    fullWidth
                    nbButton
                    hero
                    status="danger"
                    (click)="dialogEndOrBlockRef.close()"
                  >
                    انصراف
                  </button>
                </div>
              </div>
            </nb-card-footer>
          </form>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
<ng-template #stopEndOrBlockRequest let-data let-ref="dialogStopEndOrBlockRef">
  <nb-card size="medium" status="success" accent="success">
    <nb-card-header>
      <h6 style="color: linen">فعال سازی پرونده شماره {{ data.fileNumber }}</h6>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <form
            [formGroup]="formStopEndOrBlockRequest"
            (ngSubmit)="stopEndOrBlockRequestConfirm(data.endOrBlockRequestId)"
          >
            <nb-card>
              <nb-card-body>
                <div class="row mt-2 mb-3 mb-0">
                  <div class="col-sm-4 mt-2">
                    <span style="display: inline-block">
                      <span class="text-danger font-weight-bold">*</span>
                      توضیحات:
                    </span>
                  </div>

                  <div class="col-sm-8">
                    <textarea
                      formControlName="unCloseComment"
                      fullWidth
                      id="unCloseComment"
                      nbInput
                      placeholder="توضیحات"
                      rows="5"
                    ></textarea>

                    <div
                      *ngFor="
                        let validation of INPUT_VALIDATION_MESSAGES_StopEndOrBlockRequest
                      "
                    >
                      <span
                        class="text-danger"
                        *ngIf="
                          formStopEndOrBlockRequest
                            .get('unCloseComment')
                            .hasError(validation.type) &&
                          (formStopEndOrBlockRequest.get('unCloseComment')
                            .dirty ||
                            formStopEndOrBlockRequest.get('unCloseComment')
                              .touched ||
                            isSubmitedStopEndOrBlockRequest)
                        "
                        >{{ validation.message }}</span
                      >
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>

            <nb-card-footer>
              <div class="row">
                <div class="col-sm-6 pl-1">
                  <button
                    [nbSpinner]="stopEndOrBlockRequestLoading"
                    [disabled]="stopEndOrBlockRequestLoading"
                    nbSpinnerStatus="info"
                    nbSpinnerSize="large"
                    fullWidth
                    nbButton
                    hero
                    status="success"
                    type="submit"
                  >
                    فعال سازی
                  </button>
                </div>
                <div class="col-sm-6 pr-1">
                  <button
                    [disabled]="stopEndOrBlockRequestLoading"
                    fullWidth
                    nbButton
                    hero
                    status="danger"
                    (click)="dialogStopEndOrBlockRef.close()"
                  >
                    انصراف
                  </button>
                </div>
              </div>
            </nb-card-footer>
          </form>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
<!-- (userRowSelect)="onRowSelect($event)"
      (rowSelect)="rowSelectedHandler($event)" -->

<!-- <ng-template #contentDetailTemplate let-data>
          <app-gasRequestDetail [id]="info?.id"></app-gasRequestDetail>
      </ng-template> -->
